<tr class="<%= 'my-rankings ' if local_assigns[:my_rankings] %><%= 'mine' if @character == character %>">
  <td class="text-center"><%= @ranks.index(character.id) + 1 %></td>
  <td><%= image_tag(character.avatar, class: 'avatar') %></td>
  <td><%= link_to(character.name, character_path(character), class: 'name') %></td>
  <td><%= data_center(character.server) %></td>
  <td><%= character.server %></td>
  <td><%= character.send(@metric) %></td>
</tr>
