<table class="table table-striped table-sm shadow p-3">
  <thead>
    <tr>
      <th scope="col"></th> <!-- # -->
      <th scope="col"></th> <!-- Image -->
      <th scope="col"><%= t('name') %></th>
      <th scope="col"><%= t('characters.data_center') %></th>
      <th scope="col"><%= t('characters.server') %></th>
      <th scope="col"><%= t('leaderboards.score') %></th>
    </tr>
  </thead>
  <tbody>
    <% @rankings.each do |ranking| %>
      <tr <%= 'class="mine"'.html_safe if @character == ranking[:character] %>>
        <td class="text-center"><%= ranking[:rank] %></td>
        <td><%= image_tag(ranking[:character].avatar, class: 'avatar') %></td>
        <td><%= link_to(ranking[:character].name, character_path(ranking[:character]), class: 'name') %></td>
        <td><%= ranking[:character].data_center %></td>
        <td><%= ranking[:character].server %></td>
        <td>
          <% if ranking[:date].present? %>
            <span data-toggle="tooltip" title="<%= "#{t('acquired')} #{format_date_short(ranking[:date])}" %>">
              <%= ranking[:score] %>
            </span>
          <% else %>
            <%= ranking[:score] %>
          <% end %>
        </td>
      </tr>
    <% end %>
    <% if action_name == 'index' && @character.present? && @rankings.present? && @character[@metric] != -1 && @character[@metric] < @rankings.last[:score] %>
      <tr class="my-rankings mine">
        <td></td>
        <td><%= image_tag(@character.avatar, class: 'avatar') %></td>
        <td><%= link_to(@character.name, character_path(@character), class: 'name') %></td>
        <td><%= @character.data_center %></td>
        <td><%= @character.server %></td>
        <td><%= @character[@metric] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
