<% title("#{@group.name} #{t('leaderboards.title')}") %>
<% description("Browse the top collectors in the #{@group.name} group.") %>

<div class="row">
  <div class="col-12 col-xl-10 offset-xl-1">
    <div class="card shadow">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="card-title">
          <%= @group.name %> <%= t('leaderboards.title') %> - <%= t("#{@category}.title") %>
        </h5>
        <%= link_to(fa_icon('users', text: t('groups.profile')), group_path(@group),
                            class: 'btn btn-sm btn-primary no-wrap') %>
      </div>
      <div class="card-body card-table">
        <%= form_tag(group_leaderboards_path(params[:id]), method: :get, enforce_utf8: false,
                     class: 'form form-inline search-form ml-3 my-2') do |f| %>
          <%= select_tag :category, leaderboards_categories(@category), class: 'form-control form-control-sm' %>
          <%= submit_tag t('select'), name: nil, class: 'btn btn-primary btn-sm' %>
        <% end %>
        <%= render 'table' %>
      </div>
    </div>
  </div>
</div>
