<% title(t('general.global_leaderboard')) %>
<% description('Browse the top collectors on each server and see how your character compares.') %>

<div class="row">
  <div class="col-12 col-xl-10 offset-xl-1">
    <div class="card shadow">
      <div class="card-header">
        <h5 class="card-title"><%= t('general.global_leaderboard') %> - <%= categories.rassoc(@category)[0] %></h5>
      </div>
      <div class="card-body card-table">
        <%= search_form_for(@q, url: leaderboards_path, enforce_utf8: false,
                            class: 'form form-inline search-form ml-3 my-2') do |f| %>
          <%= select_tag :category, options_for_select(categories, @category), class: 'form-control form-control-sm' %>
          <%= select_tag :data_center, options_for_select(Character.data_centers, @data_center),
            include_blank: t('general.all_data_centers'), class: 'form-control form-control-sm' %>
          <%= f.select :server_eq, grouped_servers(@q.server_eq), { include_blank: t('general.all_servers') },
            class: 'form-control form-control-sm' %>
          <%= select_tag :limit, limit_options(@limit), class: 'form-control form-control-sm' %>
          <%= f.submit t('general.search'), name: nil, class: 'btn btn-primary btn-sm' %>
        <% end %>
        <%= render 'table' %>
      </div>
    </div>
  </div>
</div>
