<% title('Global Leaderboards') %>
<% description('Browse the top collectors on each server and see how your character compares.') %>

<div class="row">
  <div class="col-12 col-sm-10 offset-sm-1">
    <div class="card shadow">
      <div class="card-header">
        <h5 class="card-title">Global Leaderboards - <%= @category %></h5>
      </div>
      <div class="card-body card-table">
        <%= search_form_for(@q, url: leaderboards_path, enforce_utf8: false,
                            class: 'form form-inline search-form ml-3 my-2') do |f| %>
          <%= select_tag :category, options_for_select(categories, @category), class: 'form-control form-control-sm' %>
          <%= select_tag :data_center, options_for_select(Character.data_centers, @data_center),
            include_blank: 'All Data Centers', class: 'form-control form-control-sm' %>
          <%= f.select :server_eq, grouped_servers(@q.server_eq), { include_blank: 'All Servers' },
            class: 'form-control form-control-sm' %>
          <%= select_tag :limit, limit_options(@limit), class: 'form-control form-control-sm' %>
          <%= f.submit 'Search', name: nil, class: 'btn btn-primary btn-sm' %>
        <% end %>
        <%= render 'table' %>
      </div>
    </div>
  </div>
</div>
