<% title("#{t('leaderboards.global_leaderboards')} - #{t("#{@category}.title")}") %>
<% description('Browse the top collectors on each server and see how your character compares.') %>

<div class="row">
  <div class="col-12 col-xl-10 offset-xl-1">
    <div class="card shadow">
      <div class="card-header">
        <h5 class="card-title"><%= t('leaderboards.global_leaderboards') %> - <%= t("#{@category}.title") %></h5>
      </div>
      <div class="card-body card-table">
        <%= form_tag(leaderboards_path, method: :get, enforce_utf8: false,
                     class: 'form form-inline search-form ml-3 my-2') do |f| %>
          <%= select_tag :category, leaderboards_categories(@category), class: 'form-control form-control-sm' %>
          <%= select_tag :data_center, options_for_select(Character.data_centers, params[:data_center]),
            include_blank: t('all.data_centers'), class: 'form-control form-control-sm' %>
          <%= select_tag :server, servers_for_select(params[:server]), include_blank: t('all.servers'),
            class: 'form-control form-control-sm' %>
          <%= select_tag :limit, limit_options(@limit), class: 'form-control form-control-sm' %>
          <%= submit_tag t('search'), name: nil, class: 'btn btn-primary btn-sm' %>
        <% end %>
        <%= render 'table' %>
      </div>
    </div>
  </div>
</div>
