<% title(t('tools.materiel.title')) %>
<% description("Track your character's progress by Materiel Container.") %>

<% if character_selected? %>
  <%= render 'shared/filters' %>
  <div class="d-flex align-items-center mb-2">
    <%= button_tag fa_icon('filter', text: t('filters')), data: { toggle: 'modal', target: '#filters'},
      type: 'button', class: 'btn btn-secondary btn-sm modal-toggle ml-auto' %>
  </div>
<% end %>
<div class="row">
  <% @containers.each do |number, collectables| %>
    <div class="col-12 col-xl-6 mb-4">
      <div class="card shadow">
        <div class="card-header">
          <h5 class="card-title">
            <%= fa_icon('box') %>
            <%= t("tools.materiel.container.#{number}") %>
          </h5>
        </div>
        <div class="card-body card-table">
          <% if character_selected? %>
            <div class="materiel-progress m-3">
              <%= render 'shared/progress', value: (collectables[:mounts].map(&:id) & @owned_ids[:mounts]).size,
                min: 0, max: collectables[:mounts].length, text: 'mounts.title' %>
              <%= render 'shared/progress', value: (collectables[:minions].map(&:id) & @owned_ids[:minions]).size,
                min: 0, max: collectables[:minions].length, text: 'minions.title', alt: true %>
            </div>
          <% end %>
          <table class="table table-striped table-sm shadow collection fill sortable materiel">
            <thead>
              <tr>
                <th scope="col">#</th> <!-- Image -->
                <th scope="col"><%= t('name') %></th>
                <th scope="col" class="text-center"><%= fa_icon('dollar-sign') %></th>
                <th scope="col" class="text-center"><%= t('patch') %></th>
                <% if character_selected? %>
                  <th scope="col"></th><!-- Owned -->
                <% end %>
              </tr>
            </thead>
            <tbody>
              <% collectables.values.flatten.sort_by(&:patch).reverse.each do |collectable| %>
                <tr class="<%= collectable_classes(collectable, generic: true) %>">
                  <td><%= collectable_image(collectable) %></td>
                  <td><%= collectable_name_link(collectable) %></td>
                  <td class="text-center" data-value="<%= price_sort_value(collectable) %>">
                    <%= market_link(collectable) %>
                  </td>
                  <td class="text-center"><%= collectable.patch %></td>
                  <% if character_selected? %>
                    <%= td_owned(collectable) %>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% end %>
</div>
