<% title(@hairstyle.name) %>
<% description(@hairstyle.description.truncate(150)) %>
<% image(image_url("hairstyles/#{@hairstyle.id}.png", skip_pipeline: true)) %>

<div class="row">
  <div class="col-12 col-md-10 col-lg-8 offset-md-1 offset-lg-2">
    <div class="card">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="card-title"><%= @hairstyle.name %></h5>
      </div>
      <div class="card-body d-flex flex-column flex-info">
        <div class="d-flex flex-wrap">
          <div>
            <dt>Tradeable</dt>
            <dd><%= tradeable(@hairstyle) %></dd>
          </div>
          <%= render 'shared/ownership', collectable: @hairstyle %>
          <div>
            <dt>Patch</dt>
            <dd><%= @hairstyle.patch %></dd>
          </div>
        </div>
        <dt>Source</dt>
        <dd><%= sources(@hairstyle) %></dd>
        <% if @hairstyle.description.present? %>
          <dt>Description</dt>
          <dd class="mb-0"><%= format_text(@hairstyle.description) %></dd>
        <% end %>
        <hr>
        <div class="d-flex flex-wrap hairstyle-list">
          <% 16.times do |i| %>
            <%= hairstyle_image(@hairstyle, i) %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
