<% title(@title) %>
<% description("Browse the collectable rewards from the #{@title} and see which ones your character is missing.") %>

<h2 class="tomestones text-center mb-3"><%= @title %></h2>

<div class="d-flex flex-wrap justify-content-center">
  <% @tomestones.each do |tomestone| %>
    <%= link_to(tomestone.tomestone_name(locale: I18n.locale), tomestone_path(tomestone.tomestone_name.downcase),
                class: "btn btn-dark bold mr-2 mb-1#{' active' if @tomestone == tomestone.tomestone_name }") %>
  <% end %>
</div>

<%= render 'shared/filters' %>
<%= javascript_tag "window._token = '#{form_authenticity_token}'" %>
<div class="d-flex justify-content-center">
  <div class="d-inline-flex flex-column mt-1">
    <div class="d-flex justify-content-end align-items-end mb-1">
      <%= render 'shared/active_filters' %>
    </div>
    <% if character_selected? %>
      <div class="mb-2">
        <%= render 'shared/progress', value: 0, min: 0, max: @collectables.size %>
        <%= render 'shared/progress', value: 0, min: 0, max: @collectables.map(&:cost).sum, alt: true,
          text: 'currency.tomestones.many' %>
      </div>
    <% end %>
    <table class="table table-striped table-sm shadow p-3 collection sortable">
      <thead>
        <tr>
          <th scope="col" data-defaultsort="disabled"></th> <!-- Image -->
          <th scope="col"><%= t('name') %></th>
          <th scope="col" class="hide-xs"><%= t('tomestones.original_source') %></th>
          <th scope="col" class="text-center"><%= fa_icon('dollar-sign') %></th>
          <th scope="col" class="text-center"><%= t('verminion.cost') %></th>
          <% if character_selected? %>
            <th scope="col"></th><!-- Owned -->
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @collectables.each do |reward| %>
          <tr class="<%= collectable_classes(reward.collectable, generic: true) %>" data-value="<%= reward.cost %>">
            <td><%= collectable_image_link(reward.collectable) %></td>
            <td class="w-25"><%= collectable_name_link(reward.collectable) %></td>
            <td class="w-50 hide-xs" data-value="<%= source_sort_value(reward.collectable) %>">
              <%= sources(reward.collectable) %>
            </td>
            <td class="text-center" data-value="<%= price_sort_value(reward.collectable) %>">
              <%= market_link(reward.collectable) %>
            </td>
            <td class="text-center cost">
              <b><%= reward.cost %></b>
            </td>
            <% if character_selected? %>
              <%= td_owned(reward.collectable) %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>

    <% if @items.present? %>
      <h4 class="text-center mt-4"><%= t('tomestones.other_items') %></h4>
      <table class="table table-striped table-sm shadow p-3 compact sortable">
        <thead>
          <tr>
            <th scope="col" data-defaultsort="disabled"></th> <!-- Image -->
            <th scope="col"><%= t('name') %></th>
            <th scope="col" class="text-center"><%= fa_icon('dollar-sign') %></th>
            <th scope="col" class="text-center"><%= t('verminion.cost') %></th>
          </tr>
        </thead>
        <tbody>
          <% @items.each do |reward| %>
            <tr>
              <td><%= image_tag("items/#{reward.collectable.icon_id}.png") %></td>
              <td><%= reward.collectable.name %></td>
              <td class="text-center" data-value="<%= !reward.collectable.tradeable %>">
                <%= reward_market_link(reward) %>
              </td>
              <td class="text-center">
                <b><%= reward.cost %></b>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
