<% title(@free_company.formatted_name) %>
<% description('Free Company Profile') %>

<div class="row">
  <div class="col-12 col-xl-10 offset-xl-1">
    <div class="card shadow">
      <div class="card-header d-flex justify-content-between align-items-center">
        <div>
          <h5 class="card-title"><%= @free_company.formatted_name %></h5>
          <h6>
            <span class="mr-1">
              <%= @members.size %> <%= t('free_companies.member', count: @members.size) %>
            </span>
            <% if @free_company.in_queue? %>
              <span class="badge badge-secondary">
                <%= fa_icon('sync', text: t('free_companies.refresh.in_progress')) %>
              </span>
            <% elsif !@free_company.syncable? %>
              <span class="badge badge-success">
                <%= fa_icon('check', text: t('free_companies.refresh.up_to_date')) %>
              </span>
            <% end %>
          </h6>
        </div>
        <div>
          <%= link_to fa_icon('trophy', text: t('leaderboards.title')), free_company_leaderboards_path(@free_company),
            class: 'btn btn-sm btn-primary' %>
          <%= link_to fa_icon('horse', text: t('mounts.title')), free_company_mounts_path(@free_company),
            class: 'btn btn-sm btn-secondary' %>
          <%= link_to fa_icon('sync', text: "#{t('free_companies.refresh.button')} #{t('experimental')}"),
            refresh_free_company_path(@free_company),
            class: "btn btn-sm btn-success#{' disabled' unless free_company_refreshable?(@free_company)}", method: :post %>
        </div>
      </div>
      <div class="card-body d-flex flex-wrap">
        <% @members.each do |character| %>
          <%= link_to character_path(character), class: 'free-company-avatar large' do %>
            <%= image_tag(character.avatar) %>
            <span><%= character.name %></span>
            <% if character.stale? %>
              <%= far_icon('clock', class: 'status', data: { toggle: 'tooltip' }, title: t('free_companies.stale')) %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
