<% title(t('emotes.title')) %>
<% description("Track your character's emotes and discover how to obtain new ones.") %>

<%= render 'shared/category_buttons', categories: @categories, selected: @category %>
<div class="d-flex justify-content-center my-2">
  <%= search_form_for(@q, url: emotes_path, enforce_utf8: false, class: 'form form-inline search-form d-flex') do |f| %>
    <%= f.search_field "name_#{I18n.locale}_cont", placeholder: t('name'), size: 40,
      class: 'form-control form-control-sm flex-grow-1' %>
    <%= f.collection_select :sources_type_id_eq, @types, :id, :name,
      { include_blank: t('all.sources') }, class: 'form-control form-control-sm' %>
    <%= button_tag fa_icon('filter', text: t('filters')), data: { toggle: 'modal', target: '#filters'},
      type: 'button', class: 'btn btn-secondary btn-sm modal-toggle' %>
    <%= f.submit t('search'), name: nil, class: 'btn btn-primary btn-sm mr-0' %>
  <% end %>
</div>
<%= render 'shared/filters' %>
<div class="d-flex justify-content-center">
  <div class="d-inline-flex flex-column">
    <%= render 'shared/collection_progress', ids: @emotes.map(&:id) %>
    <%= javascript_tag "window._token = '#{form_authenticity_token}'" %>
    <table class="table table-striped table-sm shadow sortable collection categorized <%= ' comparing' if @comparison.present? %>">
      <thead>
        <tr>
          <th scope="col">#</th><!-- Image -->
          <th scope="col"><%= t('name') %></th>
          <th scope="col" class="hide-xs"><%= t('source') %></th>
          <th scope="col" class="text-center hide-xs"><%= t('category') %></th>
          <th scope="col" class="text-center"><%= fa_icon('dollar-sign') %></th>
          <th scope="col" class="text-center hide-xs"><%= t('own') %></th>
          <th scope="col" class="text-center"><%= t('patch') %></th>
          <% if character_selected? %>
            <th scope="col"></th><!-- Owned -->
          <% end %>
          <% if @comparison.present? %>
            <th scope="col"></th><!-- Comparison -->
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @emotes.each do |emote| %>
          <tr class="<%= category_row_classes(emote, @category) %>">
            <td data-value="<%= emote.order %>"><%= sprite(emote, :emote) %></td>
            <td><%= link_to(emote.name, emote_path(emote), class: 'name') %></td>
            <td class="hide-xs"><%= sources(emote) %></td>
            <td class="text-center hide-xs"><%= emote.category.name %></td>
            <td class="text-center" data-value="<%= emote.item_id.present? ? 1 : 0 %>"><%= market_link(emote) %></td>
            <td class="text-center hide-xs" data-value="<%= rarity(emote, numeric: true) %>"><%= rarity(emote) %></td>
            <td class="text-center" data-value="<%= sort_value(emote) %>"><%= emote.patch %></td>
            <% if character_selected? %>
              <%= td_owned(emote, manual: true) %>
            <% end %>
            <% if @comparison.present? %>
              <%= td_comparison(emote) %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
