<% title(@emote.name) %>
<% description(@emote.command) %>
<% image(image_url("emotes/#{@emote.id}.png", skip_pipeline: true)) %>

<div class="row">
  <div class="col-12 col-sm-10 offset-sm-1 col-md-8 col-lg-6 offset-md-2 offset-lg-3">
    <div class="card">
      <div class="card-header d-flex align-items-center">
        <div class="image-small">
          <%= sprite(@emote, 'emote') %>
        </div>
        <h5 class="card-title mx-2"><%= @emote.name %></h5>
      </div>
      <div class="card-body py-3">
        <div class="d-flex flex-column flex-info">
          <div class="d-flex flex-wrap">
            <div>
              <dt>Command</dt>
              <dd>
                <ul class="list-unstyled">
                  <% @emote.command.split(', ').each do |command| %>
                    <li><%= command %></li>
                  <% end %>
                </ul>
              </dd>
            </div>
            <div>
              <dt>Tradeable</dt>
              <dd><%= tradeable(@emote) %></dd>
            </div>
            <%= render 'shared/ownership', collectable: @emote %>
            <div>
              <dt>Patch</dt>
              <dd><%= @emote.patch %></dd>
            </div>
          </div>
          <dt>Source</dt>
          <dd class="mb-0"><%= sources(@emote, list: true) %></dd>
        </div>
      </div>
    </div>
  </div>
</div>
