<table class="table table-striped table-sm">
  <tr>
    <th class="mod-date hide-xs"><%= t('general.date') %></th>
    <th class="hide-xs"><%= t('general.user') %></th>
    <th><%= t('general.type') %></th>
    <th><%= t('general.action') %></th>
    <th><%= t('general.change') %></th>
    <th></th><!-- Buttons -->
  </tr>
  <% changes.each do |change| %>
    <tr>
      <td class="hide-xs"><%= format_date(change.created_at) %></td>
      <td class="hide-xs"><%= change_user(change) %></td>
      <td><%= change_type(change) %></td>
      <td><%= change_event(change) %></td>
      <td class="mod-diff"><%= change_diff(change) %></td>
      <td class="text-center px-2">
        <%= change_link(change) if current_page?('/mod/dashboard') %>
        <%= link_to fa_icon('undo'), admin_version_revert_path(change.id),
          method: :post, class: 'btn btn-secondary btn-sm my-1' if current_user.admin? %>
      </td>
    </tr>
  <% end %>
</table>
