<div class="d-flex flex-wrap justify-content-xl-around">
  <% relics.each do |relic| %>
    <div class="p-2" data-toggle="tooltip" data-html="true" title="<%= relic_tooltip(relic) %>">
      <% if @character&.verified_user?(current_user) %>
        <% if @achievement_ids.include?(relic.achievement_id) %>
          <div class="relic<%= ' owned' if owned?(relic.id) %>">
            <%= sprite(relic, sprite_class) %>
          </div>
        <% else %>
          <div class="relic item own<%= ' owned' if owned?(relic.id) %>"
               data-path="<%= polymorphic_path(relic, action: owned?(relic.id) ? :remove : :add) %>">
               <%= sprite(relic, sprite_class) %>
          </div>
        <% end %>
      <% elsif character_selected? %>
        <div class="relic<%= ' owned' if owned?(relic.id) %>">
          <%= sprite(relic, sprite_class) %>
        </div>
      <% else %>
        <div class="relic owned">
          <%= sprite(relic, sprite_class) %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
