<% title(t('relics.relic_armor')) %>
<% description("Track your character's relic armor.") %>
<%= javascript_tag "window._token = '#{form_authenticity_token}'" %>

<%= render 'shared/category_buttons', categories: @categories, selected: @categories.first.id, exclude_all: true %>
<%= render 'collapse_toggle' %>

<% @types.group_by(&:expansion).each_with_index do |(expansion, types), i| %>
  <div class="armors category-<%= expansion %><%= ' hidden' unless i == 0 %>">
    <%= render partial: 'types', collection: types, as: :type %>
  </div>
<% end %>
