<% title('Relics') %>
<% description("Automatically track your character's relic weapons and discover how to obtain new ones.") %>

<div class="d-flex justify-content-end mb-2">
  <button class="btn btn-secondary btn-sm mr-1" id="collapseToggle" data-expanded="false">
    <%= fa_icon('expand', text: 'Expand All') %>
  </button>
</div>

<div class="card mb-3">
  <%= render 'header', relic: @resistance_weapons, name: 'Resistance' %>
  <div class="collapse show" id="collapse-resistance">
    <div class="card-body py-3">
      <%= render partial: 'relics', collection: @resistance_weapons.each_slice(@resistance_weapons.size / 17).to_a.transpose %>
    </div>
  </div>
</div>

<div class="card mb-3">
  <%= render 'header', relic: @eureka_weapons, name: 'Eureka' %>
  <div class="collapse" id="collapse-eureka">
    <div class="card-body py-3">
      <%= render partial: 'relics', collection: @eureka_weapons.each_slice(@eureka_weapons.size / 15).to_a.transpose %>
    </div>
  </div>
</div>

<div class="card mb-3">
  <%= render 'header', relic: @anima_weapons, name: 'Anima' %>
  <div class="collapse" id="collapse-anima">
    <div class="card-body py-3">
      <%= render partial: 'relics', collection: @anima_weapons.each_slice(@anima_weapons.size / 13).to_a.transpose %>
    </div>
  </div>
</div>

<div class="card mb-3">
  <%= render 'header', relic: @relic_weapons, name: 'Relic' %>
  <div class="collapse" id="collapse-relic">
    <div class="card-body">
      <%= render 'relics', relics: @relic_weapons %>
    </div>
  </div>
</div>
