<% title("#{t('relics.relic_weapons')} (#{t('relics.manual')})") %>
<% description("Track your character's relic weapons.") %>
<%= javascript_tag "window._token = '#{form_authenticity_token}'" %>

<div class="d-flex justify-content-end mb-2">
  <button class="btn btn-secondary btn-sm mr-1" id="collapseToggle" data-expanded="false">
    <%= fa_icon('expand', text: t('expand')) %>
  </button>
</div>

<div class="card mb-3">
  <%= render 'header', relic: @eureka_physeos_weapons, name: 'Eureka Physeos Weapons' %>
  <div class="collapse hide" id="collapse-eureka-physeos-weapons">
    <div class="card-body collection py-3">
      <%= render 'gear', gear: @eureka_physeos_weapons, sprite_image: 'items-weapon' %>
    </div>
  </div>
</div>

<div class="card mb-3">
  <%= render 'header', relic: @deep_dungeon_weapons, name: 'Deep Dungeon Weapons' %>
  <div class="collapse hide" id="collapse-deep-dungeon-weapons">
    <div class="card-body relics-sh collection py-3">
      <%= render partial: 'gear', collection: @deep_dungeon_weapons.each_slice(17).to_a,
        locals: { sprite_image: 'items-weapon' } %>
    </div>
  </div>
</div>

<div class="card mb-3">
  <%= render 'header', relic: @arr_relic_weapons, name: 'A Relic Reborn' %>
  <div class="collapse show" id="collapse-a-relic-reborn">
    <div class="card-body collection py-3">
      <%= render partial: 'gear', collection: @arr_relic_weapons.each_slice(11).to_a, locals: { sprite_image: 'items-weapon' } %>
    </div>
  </div>
</div>
