<% title(t('triad.cards.select')) %>
<% description("Quickly add Triple Triad cards by matching your in-game Card List.") %>

<div class="card-buttons d-flex justify-content-between align-items-center mx-auto mb-1">
  <button type="button" class="btn btn-secondary btn-sm" id="nav-prev">
    <%= fa_icon('arrow-left') %> <%= t('triad.card_select.previous') %>
  </button>
  <span id="page"><%= t('triad.card_select.page', number: 1) %></span>
  <button type="button" class="btn btn-secondary btn-sm" id="nav-next">
    <%= t('triad.card_select.next') %> <%= fa_icon('arrow-right') %>
  </button>
</div>
<div class="card card-page mx-auto pl-2 pt-2">
  <div class="d-flex flex-wrap align-items-start">
    <% @cards.each do |card| %>
      <div class="card-select<%= ' missing' unless @owned_cards.include?(card.id) %><%= ' ex' if card.ex? %>"
           data-id="<%= card.id %>" data-toggle="tooltip" data-placement="top"
           data-delay="<%= select_tooltip_delay %>" title="<%= card.name %>">
        <%= sprite(card, 'cards-small') %>
      </div>
    <% end %>
  </div>
</div>
<div class="card-buttons d-flex flex-column mx-auto mt-1 px-1">
  <span class="font-weight-bold ml-auto mb-1" id="total">
    <%= t('triad.card_select.total') %>: <%= @owned_cards.size %> / <%= Card.count %>
  </span>
  <div class="d-flex">
    <button type="button" class="btn btn-success btn-sm w-50 mr-1" id="add-all">
      <%= t('triad.card_select.add_all') %>
    </button>
    <button type="button" class="btn btn-danger btn-sm w-50 ml-1" id="remove-all">
      <%= t('triad.card_select.remove_all') %>
    </button>
  </div>
</div>
<div class="col-12 col-xl-6 offset-0 offset-xl-3">
  <div class="card mt-4 mb-2">
    <div class="card-header">
      <h5><%= t('triad.card_select.how_to_use') %></h5>
    </div>
    <div class="card-body">
      <ol class="my-2">
        <% 4.times do |i| %>
          <li><%= t("triad.card_select.help#{i + 1}").html_safe %></li>
        <% end %>
      </ol>
    </div>
  </div>
  <%= form_tag(set_cards_path, class: 'text-right') do %>
    <%= hidden_field_tag('cards', @owned_cards.join(','), id: 'card-ids') %>
    <%= link_to t('reset'), select_cards_path, class: 'btn btn-danger' %>
    <%= submit_tag(t('triad.card_select.save'), class: 'btn btn-primary', id: 'submit') %>
  <% end %>
</div>
