<%= form_for(@group, html: { class: 'form' }) do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control', maxlength: 255, required: true %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_field :description, maxlength: 255, class: 'form-control' %>
  </div>
  <div class="form-check">
    <%= f.check_box :public, class: 'form-check-input' %>
    <%= f.label :public, class: 'form-check-label' %>
  </div>
  <hr>
  <div class="text-right my-2">
    <%= f.submit t('save'), class: 'btn btn-primary' %>
  </div>
<% end %>
