<%= form_tag(character_search_group_path(@group), class: 'form', remote: true) do %>
  <div class="form-group">
    <%= label_tag :data_center, t('characters.data_center') %>
    <%= select_tag :data_center, options_for_select(Character.data_centers), include_blank: t('all.data_centers'),
      class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= label_tag :server, t('characters.server') %>
    <%= select_tag :server, servers_for_select, include_blank: t('all.worlds'), class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= label_tag :name, t('name') %>
    <%= text_field_tag :name, nil, required: true, class: 'form-control' %>
  </div>
  <div class="text-right mt-3 mb-2">
    <%= submit_tag t('search'), name: nil, class: 'btn btn-primary m-0' %>
  </div>
<% end %>
