<% title(t('general.mount.other')) %>
<% description(t('description.mounts')) %>

<div class="d-flex justify-content-center">
  <%= search_form_for(@q, url: mounts_path, enforce_utf8: false, class: 'form form-inline search-form d-flex') do |f| %>
    <%= f.search_field "name_#{I18n.locale}_cont", placeholder: 'Name', size: 40,
      class: 'form-control form-control-sm flex-grow-1' %>
    <%= f.collection_select :sources_type_id_eq, @types, :id, :name,
      { include_blank: t('general.all_sources') }, class: 'form-control form-control-sm' %>
    <%= button_tag fa_icon('filter', text: t('general.filter.other')), data: { toggle: 'modal', target: '#filters'},
      type: 'button', class: 'btn btn-secondary btn-sm modal-toggle' %>
    <%= f.submit t('general.search'), name: nil, class: 'btn btn-primary btn-sm mr-0' %>
  <% end %>
</div>
<%= render 'shared/filters' %>
<%= render 'shared/collection_progress', ids: @mounts.map(&:id) %>
<table class="table table-striped table-sm shadow p-3 mt-2 mb-5 collection sortable<%= ' comparing' if @comparison.present? %>">
  <thead>
    <tr>
      <th scope="col">#</th> <!-- Image -->
      <th scope="col"><%= t('general.name') %></th>
      <th scope="col" class="hide-xs"><%= t('general.source') %></th>
      <th scope="col" class="text-center"><%= fa_icon('dollar') %></th>
      <th scope="col" class="text-center hide-xs"><%= t('general.own') %></th>
      <th scope="col" class="text-center"><%= t('general.patch') %></th>
      <% if character_selected? %>
        <th scope="col"></th><!-- Owned -->
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @mounts.each do |mount| %>
      <tr class="collectable<%= ' owned' if owned?(mount.id) %>">
        <td data-value="<%= mount.order_group %><%= mount.order.to_s.rjust(3, '0') %>">
          <%= link_to(mount_path(mount)) do %>
            <%= sprite(mount, 'mounts-small') %>
          <% end %>
        </td>
        <td><%= link_to(mount.name, mount_path(mount), class: 'name') %></td>
        <td class="hide-xs"><%= sources(mount) %></td>
        <td class="text-center" data-value="<%= mount.item_id.present? ? 1 : 0 %>"><%= market_link(mount) %></td>
        <td class="text-center hide-xs" data-value="<%= rarity(mount, numeric: true) %>"><%= rarity(mount) %></td>
        <td class="text-center" data-value="<%= sort_value(mount) %>"><%= mount.patch %></td>
        <% if character_selected? %>
          <% if @comparison.present? %>
            <%= td_comparison(mount) %>
          <% else %>
            <%= td_owned(mount) %>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
