<div class="row">
  <div class="col-12 col-lg-10 offset-0 offset-lg-1">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title"><%= @mount.name %></h5>
      </div>
      <div class="card-body">
        <div class="d-flex">
          <div class="mount-large">
            <%= sprite(@mount, 'mounts-large') %>
          </div>
          <div class="d-flex flex-column flex-info ml-4">
            <div class="d-flex">
              <div>
                <dt>Movement</dt>
                <dd><%= @mount.movement %></dd>
              </div>
              <div>
                <dt>Flying</dt>
                <dd><%= flying(@mount) %></dd>
              </div>
              <% if @mount.seats > 1 %>
                <div>
                  <dt>Seats</dt>
                  <dd><%= @mount.seats %></dd>
                </div>
              <% end %>
              <div>
                <dt>Patch</dt>
                <dd><%= @mount.patch %></dd>
              </div>
            </div>
            <dt>Description</dt>
            <dd><%= format_text(@mount.description) %></dd>
            <dt>Journal</dt>
            <dd><%= format_text(@mount.enhanced_description) %></dd>
            <dt>Tooltip</dt>
            <dd><%= format_text(@mount.tooltip) %></dd>
          </div>
        </div>
        <div class="mount-footprint">
          <%= sprite(@mount, 'mounts-footprint') %>
        </div>
      </div>
    </div>
  </div>
</div>
