<% title("Edit #{@model.to_s.titleize}") %>

<div class="row">
  <div class="col-12 col-lg-10 col-xl-8 mx-auto">
    <div class="card shadow">
      <div class="card-header d-flex flex-wrap align-items-center justify-content-between">
        <h5 class="card-title">Edit <%= @model.to_s %></h5>
        <%= link_to fa_icon('chevron-left', text: 'Back'), polymorphic_url([:mod, @model]), class: 'btn btn-secondary btn-sm' %>
      </div>
      <div class="card-body py-3">
        <%= form_for(@collectable, url: polymorphic_url([:mod, @collectable]), html: { class: 'form' }) do |f| %>
          <div class="row">
            <div class="col-8 form-group">
              <%= f.label :name_en, 'Name' %>
              <%= f.text_field :name_en, class: 'form-control' %>
            </div>
            <div class="col-4 form-group">
              <%= f.label :patch %>
              <%= f.text_field :patch, class: 'form-control' %>
            </div>
          </div>
          <% if @collectable.has_attribute?(:details) %>
            <div class="row">
              <div class="col-12 form-group">
                <%= f.label :details %>
                <%= f.text_field :details, class: 'form-control' %>
              </div>
            </div>
          <% end %>
          <% if @collectable.has_attribute?(:gender) %>
            <div class="row">
              <div class="col-4 form-group pr-0">
                <%= f.label :gender %>
                <%= f.select :gender, gender_options(@collectable.gender), { include_blank: 'Any' }, { class: 'form-control' } %>
              </div>
            </div>
          <% end %>
          <% if @collectable.has_attribute?(:solution) %>
            <div class="row">
              <div class="col-12 form-group">
                <%= f.label :solution %>
                <%= f.text_field :solution, class: 'form-control' %>
              </div>
            </div>
          <% end %>
          <% unless @skip_sources %>
            <div class="form-group">
              <%= f.label :sources %>
              <%= f.fields_for :sources do |sf| %>
                <%= sf.hidden_field :id %>
                <%= sf.hidden_field :collectable_id, value: @collectable.id %>
                <%= sf.hidden_field :collectable_type, value: @model.to_s %>

                <div class="row mb-2">
                  <div class="col-3">
                    <%= sf.collection_select :type_id, @types, :id, :name,
                      { include_blank: 'Select type' }, class: 'form-control' %>
                  </div>
                  <div class="col-5 pr-4">
                    <%= sf.text_field :text, class: 'form-control mr-2' %>
                  </div>
                  <div class="col-4 d-flex align-items-center">
                    <div class="d-flex flex-column">
                      <div class="d-flex align-items-center">
                        <%= sf.check_box :premium, class: 'form-check-input' %>
                        <%= sf.label :premium, class: 'form-check-label' %>
                      </div>
                      <div class="d-flex align-items-center">
                        <%= sf.check_box :limited, class: 'form-check-input' %>
                        <%= sf.label :limited, 'Time Limited', class: 'form-check-label' %>
                      </div>
                    </div>
                    <% if sf.object.id.present? %>
                      <%= link_to fa_icon('times', text: 'Delete', class: 'delete'), mod_source_path(sf.object.id),
                        method: :delete, class: 'btn btn-sm btn-danger no-wrap ml-3',
                        data: { confirm: 'Are you sure you want to delete this source?' } %>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
          <div class="text-right mt-4">
            <%= f.submit 'Submit', class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <% if @changes.present? %>
    <div class="col-12 col-lg-10 col-xl-8 mx-auto mt-3">
      <div class="card shadow">
        <h5 class="card-header">Changelog</h5>
        <div class="card-body card-table">
          <%= render 'change_table', changes: @changes %>
        </div>
      </div>
    </div>
  <% end %>
</div>
