<div class="modal" id="filters" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex align-items-center">
        <h5 class="modal-title"><%= t('filters') %></h5>
        <%= link_to fa_icon('times'), nil, data: { dismiss: 'modal' } %>
      </div>
      <div class="modal-body no-wrap">
        <%= form_tag(shared_filter_path, class: 'form d-flex flex-column my-2', id: 'filters-form', remote: true) do  %>
          <%= hidden_field_tag :filter_controller, controller_name %>
          <%= hidden_field_tag :filter_action, action_name %>
          <%= hidden_field_tag :character_id, @character&.id %>
          <% @available_filters = available_filters %>

          <% if @available_filters.include?(:owned) %>
            <%= select_tag :owned, ownership_options(cookies[:owned]), class: 'form-control mb-2' %>
          <% end %>
          <% if @available_filters.include?(:tradeable) %>
            <%= select_tag :tradeable, tradeable_options(cookies[:tradeable]), class: 'form-control mb-2' %>
          <% end %>
          <% if @available_filters.include?(:gender) %>
            <%= select_tag :gender, gender_filter_options(cookies[:gender]), class: 'form-control mb-2'%>
          <% end %>
          <% %i(premium limited ranked_pvp armoire unknown).each do |filter| %>
            <% if @available_filters.include?(filter) %>
              <div>
                <%= check_box_tag filter, nil, cookies[filter] == 'hide' %>
                <%= label_tag filter, t("exclude.#{filter}") %>
              </div>
            <% end %>
          <% end %>
          <div class="text-right">
            <%= button_tag t('reset'), class: 'btn btn-secondary', id: 'filters-reset' %>
            <%= submit_tag t('apply_filters'), class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
