<div class="modal" id="filters" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex align-items-center">
        <h5 class="modal-title"><%= t('filters') %></h5>
        <%= link_to fa_icon('times'), nil, data: { dismiss: 'modal' } %>
      </div>
      <div class="modal-body">
        <%= form_tag(nil, class: 'form d-flex flex-column my-2', id: 'filters-form') do  %>
          <% unless %w(characters).include?(controller_name) %>
            <%= select_tag :owned, ownership_options(cookies[:owned]), class: 'form-control mb-2' %>
          <% end %>
          <% if %w(hairstyles armoires characters).include?(controller_name) %>
            <%= select_tag :gender, gender_filter_options(cookies[:gender]), class: 'form-control mb-2'%>
          <% end %>
          <% unless %w(achievements tomestones records).include?(controller_name) %>
            <div>
              <%= check_box_tag :premium, nil, cookies[:premium] == 'hide' %>
              <%= label_tag :premium, t('exclude.premium') %>
            </div>
          <% end %>
          <% unless %w(tomestones records).include?(controller_name) ||
              (controller_name == 'achievements' && action_name != 'items') %>
            <div>
              <%= check_box_tag :limited, nil, cookies[:limited] == 'hide' %>
              <%= label_tag :limited, t('exclude.time_limited') %>
            </div>
          <% end %>
          <hr class="mt-2 mb-3">
          <div class="text-right">
            <%= submit_tag t('apply_filters'), class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
