<div class="modal" id="filters" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex align-items-center">
        <h5 class="modal-title"><%= t('filters') %></h5>
        <%= link_to fa_icon('times'), nil, data: { dismiss: 'modal' } %>
      </div>
      <div class="modal-body no-wrap">
        <%= form_tag(shared_filter_path, class: 'form d-flex flex-column my-2', id: 'filters-form', remote: true) do  %>
          <%= hidden_field_tag :filter_controller, controller_name %>
          <%= hidden_field_tag :filter_action, action_name %>
          <% @available_filters = available_filters %>

          <% if @available_filters.include?(:owned) %>
            <%= select_tag :owned, ownership_options(cookies[:owned]), class: 'form-control mb-2' %>
          <% end %>
          <% if @available_filters.include?(:tradeable) %>
            <%= select_tag :tradeable, tradeable_options(cookies[:tradeable]), class: 'form-control mb-2' %>
          <% end %>
          <% if @available_filters.include?(:gender) %>
            <%= select_tag :gender, gender_filter_options(cookies[:gender]), class: 'form-control mb-2'%>
          <% end %>
          <% if @available_filters.include?(:premium) %>
            <div>
              <%= check_box_tag :premium, nil, cookies[:premium] == 'hide' %>
              <%= label_tag :premium, t('exclude.premium') %>
            </div>
          <% end %>
          <% if @available_filters.include?(:limited) %>
            <div>
              <%= check_box_tag :limited, nil, cookies[:limited] == 'hide' %>
              <%= label_tag :limited, t('exclude.time_limited') %>
            </div>
          <% end %>
          <% if @available_filters.include?(:unknown) %>
            <div>
              <%= check_box_tag :unknown, nil, cookies[:unknown] == 'hide' %>
              <%= label_tag :unknown, t('exclude.unknown') %>
            </div>
          <% end %>
          <hr class="mt-2 mb-3">
          <div class="text-right">
            <%= submit_tag t('apply_filters'), class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
