<div>
  <dt>
    <%= t('owned') %>
    <span data-toggle="tooltip" title="Active public characters who own this <%= collectable.class.to_s.downcase %>.">
      <%= fa_icon('question-circle') %>
    </span>
  </dt>
  <dd>
    <%= ownership(@character, collectable) %>
    <%= rarity(collectable) %>
  </dd>
</div>
