<ul class="list-unstyled list-inline m-0">
  <li class="list-inline-item">
    #<%= number_with_delimiter(Redis.current.hget("rankings-#{key}-#{character.server.downcase}", character.id)) %>
    <%= character.server %>
  </li>
  <li class="list-inline-item">
    #<%= number_with_delimiter(Redis.current.hget("rankings-#{key}-#{character.data_center.downcase}", character.id)) %>
    <%= character.data_center %>
  </li>
  <li class="list-inline-item">
    #<%= number_with_delimiter(Redis.current.hget("rankings-#{key}-global", character.id)) %>
    <%= t('leaderboards.global') %>
  </li>
</ul>
