<% title(collectable.name) %>
<% image(image_url("#{collectable.class.to_s.downcase.pluralize}/#{collectable.id}.png", skip_pipeline: true)) %>

<div class="row">
  <div class="col-12 col-sm-10 offset-sm-1 col-md-8 col-lg-6 offset-md-2 offset-lg-3">
    <div class="card">
      <div class="card-header d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
          <div class="image-small">
            <%= sprite(collectable, collectable.class.to_s.downcase) %>
          </div>
          <h5 class="card-title mx-2">
            <%= collectable.name %>
            <%= gender_symbol(collectable.try(:gender)) %>
          </h5>
        </div>
      </div>
      <div class="card-body py-3">
        <div class="d-flex flex-column flex-info">
          <div class="d-flex flex-wrap">
            <div>
              <dt><%= t("general.tradeable") %></dt>
              <dd><%= tradeable(collectable) %></dd>
            </div>
            <%= render 'shared/ownership', collectable: collectable %>
            <div>
              <dt><%= t("general.patch") %></dt>
              <dd><%= collectable.patch %></dd>
            </div>
          </div>
          <dt><%= t("general.source") %></dt>
          <dd class="mb-0"><%= sources(collectable, list: true) %></dd>
        </div>
      </div>
    </div>
  </div>
</div>
