<div class="card mb-3">
  <%= link_to "#collapse-#{type}", data: { toggle: 'collapse' }, class: 'unstyled' do %>
    <div class="card-header d-flex justify-content-between align-items-center">
      <h5 class="card-title"><%= type.capitalize %></h5>
      <% if character_selected? %>
        <h6 class="text-right<%= ' complete' if yokai_completed?(collection, @achievement_ids)  %>">
          <%= yokai_completion(collection, @achievement_ids) %>
        </h6>
      <% end %>
    </div>
  <% end %>
  <div class="collapse show" id="collapse-<%= type %>">
    <div class="card-body pt-4 pb-2">
      <div class="d-flex flex-wrap yokai">
        <%= render partial: 'yokai', collection: collection %>
      </div>
    </div>
  </div>
</div>
