<div class="card">
  <div class="card-header d-flex align-items-center">
    <h5 class="card-title"><%= minion.name %></h5>
  </div>
  <div class="card-body">
    <div class="d-flex">
      <div class="d-none d-sm-block mr-4">
        <%= safe_image_tag("minions/large/#{@minion.id}.png", class: 'image-large') %>
      </div>
      <div class="d-flex flex-column flex-info">
        <div class="d-flex flex-wrap mb-0">
          <div>
            <dt><%= t('general.behavior') %></dt>
            <dd><%= minion.behavior.name %></dd>
          </div>
          <div>
            <dt><%= t('general.tradeable') %></dt>
            <dd><%= tradeable(@minion) %></dd>
          </div>
          <%= render 'shared/ownership', collectable: @minion %>
          <div>
            <dt><%= t('general.patch') %></dt>
            <dd><%= minion.patch %></dd>
          </div>
        </div>
        <dt><%= t('general.source') %></dt>
        <dd><%= sources(minion, list: true) %></dd>
        <dt><%= t('general.description') %></dt>
        <dd><%= format_text(minion.description) %></dd>
        <dt><%= t('general.journal') %></dt>
        <dd><%= format_text(minion.enhanced_description) %></dd>
        <dt><%= t('general.tooltip') %></dt>
        <dd><%= format_text(minion.tooltip) %></dd>
        <div class="d-block d-sm-none">
          <%= safe_image_tag("minions/large/#{@minion.id}.png", class: 'image-large') %>
        </div>
      </div>
    </div>
    <div class="minion-footprint">
      <%= safe_image_tag("minions/footprint/#{@minion.id}.png") %>
    </div>
  </div>
</div>
