<div class="card">
  <div class="card-header d-flex align-items-center">
    <div class="d-lg-none mr-2">
      <%= sprite(@minion, 'minions-small') %>
    </div>
    <h5 class="card-title"><%= minion.name %></h5>
  </div>
  <div class="card-body">
    <div class="d-flex">
      <div class="image-large d-none d-lg-block mr-4">
        <%= sprite(minion, 'minions-large') %>
      </div>
      <div class="d-flex flex-column flex-info">
        <div class="d-flex mb-0">
          <div>
            <dt>Behavior</dt>
            <dd><%= minion.behavior.name %></dd>
          </div>
          <div>
            <dt>Patch</dt>
            <dd><%= minion.patch %></dd>
          </div>
        </div>
        <dt>Source</dt>
        <dd><%= sources(minion, list: true) %></dd>
        <dt>Description</dt>
        <dd><%= format_text(minion.description) %></dd>
        <dt>Journal</dt>
        <dd><%= format_text(minion.enhanced_description) %></dd>
        <dt>Tooltip</dt>
        <dd><%= format_text(minion.tooltip) %></dd>
      </div>
    </div>
    <div class="minion-footprint">
      <%= sprite(minion, 'minions-footprint') %>
    </div>
  </div>
</div>
