<div class="card<%= ' h-100' if local_assigns[:variant] %>">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h6 class="card-title">
      <% if local_assigns[:variant] %>
        <div class="d-flex align-items-center">
          <%= sprite(minion, 'minions-small') %>
          <span class="ml-2"><%= minion.name %></span>
        </div>
      <% else %>
        <%= t('general.lord_of_verminion') %>
      <% end %>
    </h6>
    <div class="d-flex align-items-center">
      <span class="mr-1"><%= minion.race.name %></span>
      <%= minion_type(minion) %>
    </div>
  </div>
  <div class="card-body">
    <div class="d-flex flex-column flex-info">
      <div class="d-flex flex-wrap">
        <div>
          <dt><%= t('general.hp') %></dt>
          <dd><%= minion.hp %></dd>
        </div>
        <div>
          <dt><%= t('general.atk') %></dt>
          <dd><%= minion.attack %></dd>
        </div>
        <div>
          <dt><%= t('general.def') %></dt>
          <dd><%= minion.defense %></dd>
        </div>
        <div>
          <dt><%= t('general.spd') %></dt>
          <dd><%= speed(minion) %></dd>
        </div>
        <div>
          <dt><%= t('general.cost') %></dt>
          <dd><%= minion.cost %></dd>
        </div>
        <div>
          <dt><%= t('general.auto_attack') %></dt>
          <dd><%= auto_attack(minion) %></dd>
        </div>
        <div>
          <dt><%= t('general.strengths') %></dt>
          <dd><%= strengths(minion) %></dd>
        </div>
      </div>
      <hr>
      <div class="d-flex">
        <div class="d-flex flex-column mr-3">
          <b><u><%= minion.skill %></u></b>
          <span><%= format_skill_description(minion) %></span>
        </div>
        <div class="minion-skill-angle mt-4">
          <%= minion_skill_angle(minion) %>
        </div>
      </div>
      <div class="d-flex flex-wrap mt-3">
        <div>
          <dt><%= t('general.skill_points') %></dt>
          <dd><%= minion.skill_cost %></dd>
        </div>
        <div>
          <dt><%= t('general.skill_type') %></dt>
          <dd><%= minion.skill_type.name %></dd>
        </div>
      </div>
    </div>
  </div>
</div>
