<div class="d-flex justify-content-center">
  <%= search_form_for(@q, url: minions_path, enforce_utf8: false, class: 'form form-inline search-form d-flex') do |f| %>
    <%= f.search_field "name_#{I18n.locale}_cont", placeholder: 'Name', size: 40,
      class: 'form-control form-control-sm flex-grow-1' %>
    <%= f.collection_select :race_id_eq, MinionRace.all.order("name_#{I18n.locale}"), :id, :name,
      { include_blank: 'All Types' }, class: 'form-control form-control-sm' %>
    <%= f.collection_select :sources_type_id_eq, @types, :id, :name,
      { include_blank: 'All Sources' }, class: 'form-control form-control-sm' %>
    <%= button_tag fa_icon('filter', text: 'Filters'), data: { toggle: 'modal', target: '#filters'},
      type: 'button', class: 'btn btn-secondary btn-sm modal-toggle' %>
    <%= f.submit 'Search', name: nil, class: 'btn btn-primary btn-sm mr-0' %>
  <% end %>
</div>
<%= render 'shared/filters' %>
<% if character_selected? %>
  <div class="my-2">
    <%= collection_progress(@minions, @minion_ids) %>
  </div>
<% end %>
<table class="table table-striped table-sm shadow p-3 mt-2 mb-5 collection sortable">
  <thead>
    <tr>
      <th scope="col">#</th> <!-- Image -->
      <th scope="col">Name</th>
      <th scope="col" class="text-center">Type</th>
      <th scope="col" class="hide-xs">Source</th>
      <th scope="col" class="text-center"><%= fa_icon('dollar') %></th>
      <th scope="col" class="text-center">Own</th>
      <th scope="col" class="text-center">Patch</th>
      <% if character_selected? %>
        <th scope="col"></th><!-- Owned -->
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @minions.each do |minion| %>
      <tr class="collectable<%= ' owned' if @minion_ids.include?(minion.id) %>">
        <td data-value="<%= minion.id %>">
          <%= link_to(minion_path(minion)) do %>
            <%= sprite(minion, 'minions-small') %>
          <% end %>
        </td>
        <td><%= link_to(minion.name, minion_path(minion), class: 'name') %></td>
        <td class="text-center" data-value="<%= minion.race_id %>"><%= minion_type(minion) %></td>
        <td class="hide-xs"><%= sources(minion) %></td>
        <td class="text-center" data-value="<%= minion.item_id.present? ? 1 : 0 %>"><%= mogboard_link(minion) %></td>
        <td class="text-center hide-xs" data-value="<%= rarity(minion, numeric: true) %>"><%= rarity(minion) %></td>
        <td class="text-center" data-value="<%= minion.patch %><%= minion.id %>"><%= minion.patch %></td>
        <% if character_selected? %>
          <%= td_owned(@minion_ids, minion, false) %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
