<% title(t('minions.title')) %>
<% description("Automatically track your character's minions and discover how to obtain new ones.") %>

<div class="d-flex justify-content-center mb-3">
  <div class="btn-group">
    <%= button_tag t('verminion.standard'), class: 'btn btn-secondary active', disabled: true %>
    <%= link_to t('verminion.title'), verminion_minions_path, class: 'btn btn-secondary' %>
  </div>
</div>
<div class="d-flex justify-content-center mb-2">
  <%= search_form_for(@q, url: minions_path, enforce_utf8: false, class: 'form form-inline search-form d-flex') do |f| %>
    <%= f.search_field "name_#{I18n.locale}_cont", placeholder: t('name'), size: 40,
      class: 'form-control form-control-sm flex-grow-1' %>
    <%= f.collection_select :sources_type_id_eq, @types, :id, :name,
      { include_blank: t('all.sources') }, class: 'form-control form-control-sm' %>
    <%= button_tag fa_icon('filter', text: t('filters')), data: { toggle: 'modal', target: '#filters'},
      type: 'button', class: 'btn btn-secondary btn-sm modal-toggle' %>
    <%= f.submit t('search'), name: nil, class: 'btn btn-primary btn-sm mr-0' %>
  <% end %>
</div>
<%= render 'shared/filters' %>
<div class="d-flex justify-content-center">
  <div class="d-inline-flex flex-column">
    <%= render 'shared/active_filters' %>
    <%= render 'shared/collection_progress', ids: @minions.map(&:id) %>
    <table class="table table-striped table-sm shadow collection sortable<%= ' comparing' if @comparison.present? %>">
      <thead>
        <tr>
          <th scope="col">#</th> <!-- Image -->
          <th scope="col"><%= t('name') %></th>
          <th scope="col" class="hide-xs"><%= t('source') %></th>
          <th scope="col" class="text-center"><%= fa_icon('dollar-sign') %></th>
          <th scope="col" class="text-center hide-xs"><%= t('own') %></th>
          <th scope="col" class="text-center"><%= t('patch') %></th>
          <% if character_selected? %>
            <th scope="col"></th><!-- Owned -->
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @minions.each do |minion| %>
          <tr class="<%= collectable_classes(minion) %>">
            <td data-value="<%= minion.order %><%= minion.id.to_s.rjust(3, '0') %>">
              <%= link_to(minion_path(minion)) do %>
                <%= sprite(minion, 'minions-small') %>
              <% end %>
            </td>
            <td><%= link_to(minion.name, minion_path(minion), class: 'name') %></td>
            <td class="hide-xs" data-value="<%= source_sort_value(minion) %>"><%= sources(minion) %></td>
            <td class="text-center" data-value="<%= price_sort_value(minion) %>"><%= market_link(minion) %></td>
            <td class="text-center hide-xs" data-value="<%= rarity(minion, numeric: true) %>"><%= rarity(minion) %></td>
            <td class="text-center" data-value="<%= sort_value(minion) %>"><%= minion.patch %></td>
            <% if character_selected? %>
              <% if @comparison.present? %>
                <%= td_comparison(minion) %>
              <% else %>
                <%= td_owned(minion) %>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
