<table class="table table-striped table-sm shadow p-3 mt-2 mb-5 sortable" id="npcs">
  <thead>
    <tr>
      <th scope="col"></th> <!-- Image -->
      <th scope="col">Name</th>
      <th scope="col">Type</th>
      <th scope="col">Description</th>
      <th scope="col">Patch</th>
    </tr>
  </thead>
  <tbody>
    <% @minions.each do |minion| %>
      <tr>
        <td>
          <%= link_to(minion_path(minion)) do %>
            <%= minion_icon(minion) %>
          <% end %>
        </td>
        <td><%= link_to(minion.name, minion_path(minion), class: 'name') %></td>
        <td class="text-center"><%= minion_type(minion) %></td>
        <td><%= minion.description.truncate(80) %></td>
        <td><%= minion.patch %></td>
      </tr>
    <% end %>
  </tbody>
</table>
