<div class="card shadow">
  <h5 class="card-header">Character Search</h5>
  <div class="card-body">
    <%= form_tag(search_characters_path, method: :get, enforce_utf8: false, class: 'form') do %>
      <div class="form-group">
        <%= label_tag :server %>
        <%= select_tag :server, options_for_select(Character.servers, @server), prompt: 'Select a server',
          required: true, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= label_tag :name %>
        <%= text_field_tag :name, @name, required: true, class: 'form-control' %>
      </div>
      <div class="text-right mt-3 mb-2">
        <%= submit_tag 'Search', name: nil, class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
