<div class="card shadow">
  <div class="card-header d-flex justify-content-between">
    <% if @search %>
      <h5 class="card-title"><%= t('characters.search_results') %></h5>
      <%= link_to fa_icon('chevron-left', text: t('back')), search_characters_path, class: 'btn btn-secondary btn-sm' %>
    <% else %>
      <h5 class="card-title"><%= t('characters.saved') %></h5>
    <% end %>
    </h5>
  </div>
  </h5>
  <div class="card-body card-table d-flex flex-column character-select">
    <% @characters.each do |character| %>
      <div class="d-flex align-items-center">
        <%= link_to select_character_path(character[:id], ({ compare: 1 } if params[:compare])),
          class: 'name w-100', method: :post do %>
          <div class="d-flex align-items-center">
            <%= image_tag(character[:avatar], class: 'avatar mr-3') %>
            <div class="d-flex flex-column">
              <b><%= character[:name] %></b>
              <span>
                <%= fa_icon('globe', text: character[:server]) %>
                <%= verified(character, true) unless @search %>
              </span>
            </div>
          </div>
        <% end %>
        <% unless @search %>
          <%= link_to fa_icon('times', class: 'delete'),
            character_path(character, ({ compare: 1 } if params[:compare])), method: :delete %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
