<div class="card shadow">
  <div class="card-header d-flex justify-content-between">
    <% if @search %>
      <h5 class="card-title"><%= t('characters.search_results') %></h5>
      <%= link_to fa_icon('chevron-left', text: t('back')), search_characters_path, class: 'btn btn-secondary btn-sm' %>
    <% else %>
      <h5 class="card-title"><%= t('characters.saved') %></h5>
    <% end %>
    </h5>
  </div>
  </h5>
  <div class="card-body card-table d-flex flex-column character-select">
    <% @characters.each do |character| %>
      <div class="d-flex align-items-center">
        <%= image_tag(character[:avatar], class: 'avatar mr-3') %>
        <div class="d-flex flex-column character-name">
          <b><%= character[:name] %> <%= verified(character, only_verified: true, compact: true) unless @search %></b>
          <span><%= fa_icon('globe', text: character[:server]) %></span>
        </div>
        <div class="select-options ml-auto">
          <%= link_to far_icon('eye', text: t('view')), character_path(character[:id]), class: 'btn btn-sm btn-secondary' %>
          <%= link_to fa_icon('undo', text: t('select')), select_character_path(character[:id]),
            method: :post, class: 'btn btn-sm btn-primary' %>
          <%= link_to fa_icon('retweet', text: t('compare')), compare_character_path(character[:id]),
            method: :post, class: 'btn btn-sm btn-success' %>
          <%= link_to fa_icon('times', text: t('forget')), character_path(character),
            method: :delete, class: 'btn btn-sm btn-danger' %>
        </div>
        <% unless @search %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
