<div class="d-flex flex-wrap statistics mt-3">
  <% @collections.each do |collection, collectables| %>
    <% if collectables.size > 0 %>
      <div class="card borderless mx-2">
        <%= link_to "#collapse-#{collection}", data: { toggle: 'collapse' }, class: 'unstyled' do %>
          <div class="card-header">
            <h5 class="card-title"><%= collection_name(collection.pluralize, link: false) %></h5>
          </div>
        <% end %>
        <div class="collapse show" id="collapse-<%= collection %>">
          <div class="card-body">
            <% if public_collection?(@profile, collection) %>
              <ul class="list-unstyled">
                <% collectables.each do |data| %>
                  <li class="mb-2">
                    <%= link_to(polymorphic_path(data[:collectable]), class: 'unstyled d-flex align-items-center') do %>
                      <%= generic_sprite(collection, data[:collectable]) %>
                      <span class="ml-2">
                        <%= collectable_name(collection, data[:collectable]) %>
                        <% if data[:count].present? %>
                          <br><%= statistic_data_rarity(data) %>
                      <% end %>
                      </span>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            <% else %>
              <span><%= t('characters.set_to_private') %></span>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
