<% title("#{@profile.name} (#{@profile.server})") %>
<% description('Character Profile') %>
<% image(@profile.avatar) %>

<%= render 'shared/filters' %>

<div class="row">
  <div class="col-12 col-xl-10 offset-xl-1">
    <div class="card shadow">
      <div class="card-header d-flex justify-content-between align-items-center py-2">
        <h5 class="card-title mr-2"><%= t('characters.character_profile') %></h5>
        <div class="profile-buttons text-right">
          <% unless @character == @profile %>
            <%= link_to fa_icon('user', text: t('characters.select')), select_character_path(@profile),
              method: :post, class: 'btn btn-primary btn-sm' %>
            <% if @character.present? %>
              <%= link_to fa_icon('retweet', text: t('characters.compare')), compare_character_path(@profile),
                method: :post, class: 'btn btn-secondary btn-sm' unless @comparison == @profile %>
            <% end %>
          <% end %>

          <%= link_to far_icon('chart-bar', text: t('characters.statistics')), stats_rarity_character_path(@profile),
            class: 'btn btn-success btn-sm' unless @comparison == @profile %>
          <%= button_tag fa_icon('filter', text: t('filters')), data: { toggle: 'modal', target: '#filters'},
            type: 'button', class: 'btn btn-secondary btn-sm modal-toggle' %>
        </div>
      </div>
      <div class="card-body">
        <div class="d-flex">
          <div class="portrait mr-4 d-none d-lg-block">
            <%= link_to(Lodestone.profile_link(@profile), target: '_blank') do %>
              <%= image_tag(@profile.portrait) %>
            <% end %>
          </div>
          <div class="d-flex flex-column w-100">
            <div class="d-flex align-items-center">
              <%= image_tag(@profile.avatar, class: 'avatar-profile mr-3 d-lg-none') %>
              <div class="d-flex flex-column">
                <h5 class="mb-1">
                  <%= @profile.name %>
                  <% unless @profile.public? %>
                    <span class="badge badge-danger"><%= t('characters.private') %></span>
                  <% end %>
                </h5>
                <%= server_leaderboards_link(@profile.server) %>
                <%= character_free_company_link(@profile) %>
              </div>
            </div>
            <hr class="mb-0">
            <div class="d-flex flex-wrap">
              <div class="profile-progress">
                <h6 class="mb-0"><%= collection_name('achievements') %></h6>
                <% if @profile.achievements_count == -1 %>
                  <span class="mt-2"><%= t('characters.set_to_private') %></span>
                <% else %>
                  <div class="d-flex flex-column">
                    <%= render 'rankings', category: :achievements %>
                    <%= render 'shared/progress', value: @scores['achievements'][:value],
                      min: 0, max: @scores['achievements'][:max], text: 'complete' %>
                    <%= render 'shared/progress', value: @scores['achievements'][:points],
                      min: 0, max: @scores['achievements'][:points_max], text: 'achievements.points' %>
                  </div>
                <% end %>
              </div>
              <% @scores.except('achievements', 'relics').each do |collectable, score| %>
                <% if %w(mount minion).include?(collectable) || score[:value] > 0 %>
                  <div class="profile-progress">
                    <h6><%= collection_name(collectable, score: score) %></h6>
                    <div class="count">
                      <%= render 'shared/progress', value: score[:value], min: 0, max: score[:max] %>
                    </div>
                  </div>
                <% end %>
              <% end %>
              <% if (@relics = character_relics(@profile)) && @relics.values.any? { |values| values[:count] > 0} %>
                <div class="profile-progress">
                  <h6><%= t('relics.title') %></h6>
                  <div class="d-flex flex-column">
                    <% @relics.each do |category, values| %>
                      <% if values[:count] > 0 %>
                        <%= render 'shared/progress', value: values[:count], min: 0, max: values[:total],
                          text: "relics.#{category}" %>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer py-2 pr-2">
        <div class="text-right font-small">
          <%= last_updated(@profile) %>
        </div>
      </div>
    </div>
  </div>
</div>
