<% title(t('characters.verify')) %>
<% description('Verify ownership of a character.') %>

<div class="row">
  <div class="col-12 col-xl-6 offset-xl-3">
    <div class="card shadow">
      <h5 class="card-header">Verify Character</h5>
      <div class="card-body">
        <p><%= t('characters.discord_ownership') %></p>
        <hr>
        <div class="d-flex my-3 align-items-center">
          <%= image_tag(@profile.avatar, class: 'avatar mr-3') %>
          <div>
            <b><%= @profile.name %></b><br>
            <%= @profile.server %>
          </div>
          <div class="mx-3">
            <%= avatar(current_user) %>
          </div>
          <b><%= username(current_user) %></b>
        </div>
        <hr>
        <p>
          <%= t('characters.lodestone_verify', link: link_to(t('characters.lodestone'),
            "https://#{region}.finalfantasyxiv.com/lodestone/my/setting/profile/", target: '_blank')).html_safe %>
        </p>
        <pre id="verification"><%= @code %></pre>
        <div class="d-flex justify-content-between">
          <%= button_tag fa_icon('copy', text: t('clipboard')), class: 'btn btn-secondary btn-sm clipboard mt-0',
            data: { clipboard_action: 'copy', clipboard_target: '#verification'} %>
          <%= link_to t('verify'), validate_character_path(@profile), method: :post, class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
</div>
