<% title(t('character.verify') ) %>
<% description(t('description.character_verify')) %>

<div class="row">
  <div class="col-12 col-xl-6 offset-xl-3">
    <div class="card shadow">
      <h5 class="card-header"><%= t('character.verify') %></h5>
      <div class="card-body">
        <p><%= t('character.discord_ownership_message') %></p>
        <hr>
        <div class="d-flex my-3 align-items-center">
          <%= image_tag(@character.avatar, class: 'avatar mr-3') %>
          <div>
            <b><%= @character.name %></b><br>
            <%= @character.server %>
          </div>
          <div class="mx-3">
            <%= avatar(current_user) %>
          </div>
          <b><%= username(current_user) %></b>
        </div>
        <hr>
        <p>
          <%= t('character.lodestone_verify_message_html',
                lodestone_link: (link_to t('general.lodestone_profile'),
                        "https://#{region}.finalfantasyxiv.com/lodestone/my/setting/profile/", target: '_blank')) %>
        </p>
        <pre id="verification"><%= @code %></pre>
        <div class="d-flex justify-content-between">
          <%= button_tag fa_icon('copy', text: t('general.copy_to_clipboard')), class: 'btn btn-secondary btn-sm clipboard mt-0',
            data: { clipboard_action: 'copy', clipboard_target: '#verification'} %>
          <%= link_to t('general.verify'), validate_character_path, method: :post, class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
</div>
