<% title("#{t('leves.title')} - #{@craft}") %>
<% description("Track your character's #{@craft} levequests.") %>

<%= render 'shared/filters' %>
<div class="d-flex justify-content-center">
  <div class="d-inline-flex flex-column">
    <%= render 'shared/category_buttons', categories: @categories, selected: @category, exclude_all: true %>
    <div class="d-flex justify-content-end mb-2">
      <%= render 'shared/active_filters' %>
    </div>
    <%= render 'shared/collection_progress', ids: @leves.map(&:id) %>
    <%= javascript_tag "window._token = '#{form_authenticity_token}'" %>
    <table class="table table-striped table-sm shadow sortable collection categorized">
      <thead>
        <tr>
          <th scope="col" class="name"><%= t('name') %></th>
          <th scope="col"><%= t('spells.location') %></th>
          <th scope="col"><%= t('leves.issuer') %></th>
          <% unless @craft == 'Battlecraft' %>
            <th scope="col"><%= t('item') %></th>
          <% end %>
          <th scope="col" class="text-center"><%= t('patch') %></th>
          <% if character_selected? %>
            <th scope="col"></th><!-- Owned -->
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @leves.each do |leve| %>
          <tr class="<%= category_row_classes(leve, @category, @categories) %>">
            <td><%= leve.name %></td>
            <td><%= location(leve.location, leve.issuer_x, leve.issuer_y) %></td>
            <td><%= leve.issuer_name %></td>
            <% unless @craft == 'Battlecraft' %>
              <td><%= leve_item(leve) %></td>
            <% end %>
            <td class="text-center" data-value="<%= sort_value(leve) %>"><%= leve.patch %></td>
            <% if character_selected? %>
              <%= td_owned(leve) %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
