<% title(t('credits.title')) %>
<% description('Recognition of contributors.') %>

<div class="row">
  <div class="col-12 col-sm-10 col-xl-6 mx-auto">
    <div class="card shadow">
      <div class="card-header">
        <h5 class="card-title"><%= t('credits.contributors') %></h5>
      </div>
      <div class="card-body pt-3">
        <div class="d-flex flex-wrap justify-content-between">
          <div class="contributors">
            <h5><%= fa_icon('code', text: t('credits.development')) %></h5>
            <%= render partial: 'contributor', collection: @developers, as: :character %>
          </div>

          <div class="contributors">
            <h5><%= fa_icon('list', text: t('credits.sources')) %></h5>
              <%= render partial: 'contributor', collection: @sourcers, as: :character %>
              <div class="character">
                <% if @character.present? %>
                  <%= image_tag(@character.avatar, class: 'avatar mr-2') %>
                <% end %>
                <%= link_to t('credits.you'), 'https://discord.gg/DkYqtWWpUr', target: '_blank',
                  class: ('and-you' unless @character.present?) %>
              </div>
          </div>

          <div class="contributors">
            <h5><%= fa_icon('globe', text: t('credits.translations')) %></h5>
            <%= render partial: 'contributor', collection: @translators, as: :character %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% if @supporters.size > 0 %>
  <div class="row mt-4">
    <div class="col-12 col-sm-10 mx-auto">
      <div class="card shadow">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h5 class="card-title"><%= t('credits.supporters') %></h5>
          <% if !@character.supporter? %>
            <%= link_to t('home_page.patreon_button'), 'https://www.patreon.com/raelys', class: 'btn btn-sm patreon', target: '_blank' %>
          <% end %>
        </div>
        <div class="card-body pt-3">
          <div class="d-flex flex-wrap contributors">
            <%= render partial: 'contributor', collection: @supporters, as: :character %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
