<% title('FAQ') %>
<% description('Frequently Asked Questions') %>

<div class="row">
  <div class="col-12 col-lg-10 mx-auto">
    <div class="card shadow">
      <div class="card-header">
        <h5 class="card-title">Frequently Asked Questions</h5>
      </div>
      <div class="card-body pt-3">
        <h5>Why aren't my emotes/bardings/etc. being updated?</h5>
        <p>Only achievements, mounts, and minions can be updated automatically based on your Lodestone profile. All other collectibles must be tracked manually.</p>
        <hr>
        <h5>What about things like Blue Magic spells?</h5>
        <p>The additional collections on your Lodestone profile are only visible to you, so they are not available for automatic updates.</p>
        <hr>
        <h5>Why aren't my achievements being updated after I set them to Public?</h5>
        <p>You will need to <%= faq_refresh_link %> to fetch the achievements after you have updated your privacy settings.</p>
        <hr>
        <h5>How are your ownership percentages calculated?</h5>
        <p>Ownership is calculated based on characters who have been updated on the site in the past 3 months and possess at least one collectable in a given category.</p>
        <p>These percentages are not a reflection of the entire playerbase, but rather a subset of players who are interested in collecting things. If you are looking to collect competitively, then this is probably the data you want.</p>
        <p>If you are looking for statistics for the entire playerbase, try <%= link_to 'Lucky Bancho', 'https://luckybancho.ldblog.jp/wsurvey.htm?world=Global', target: '_blank' %>.</p>
        <hr>
        <h5>Why do achievement percentages not match the mount percentages?</h5>
        <p>Achievements are hidden by default on your Lodestone profile, which makes achievement ownership a much smaller dataset. See the statistics below for details.</p>
        <hr>
        <h5>How are rankings calculated?</h5>
        <p>Rankings are based on non-premium and non-time limited collectable ownership for all characters. Profile rankings are cached at 00:00, 06:00, 12:00, and 18:00 ET. You may notice a small difference between profiles and the leaderboards due to caching.</p>
        <hr>
        <h5>How many players are tracked by FFXIV Collect?</h5>
        <dl>
          <dt>Users</dt>
          <dd><%= number_with_delimiter(@users) %></dd>
          <dt>Characters</dt>
          <dd><%= number_with_delimiter(@characters) %></dd>
          <dt>Characters with Public Achievements</dt>
          <dd><%= number_with_delimiter(@achievement_characters) %></dd>
          <dt>Active Characters</dt>
          <dd><%= number_with_delimiter(@active_characters) %></dd>
          <dt>Active Characters with Public Achievements</dt>
          <dd><%= number_with_delimiter(@active_achievement_characters) %></dd>
        </dl>
      </div>
    </div>
  </div>
</div>
