<div class="row">
  <div class="col-12 col-xl-10 offset-xl-1">
    <div class="jumbotron py-4 mb-3">
      <h1 class="display-4">FFXIV Collect</h1>
      <p class="lead"><%= t('home_page.lead') %></p>
      <hr class="my-4">
      <h5><%= t('home_page.feature1') %></h5>
      <p><%= t('home_page.description1') %></p>
      <h5><%= t('home_page.feature2') %></h5>
      <p><%= t('home_page.description2') %></p>
      <h5><%= t('home_page.feature3') %></h5>
      <p><%== t('home_page.description3_html', link: @discord_link) %>
      <h5><%= t('home_page.feature4') %></h5>
      <p><%== t('home_page.description4_html', link: @discord_link) %>
      <div class="mt-4 text-center">
        <%= link_to t('home_page.discord_button'), 'https://discord.gg/bA9fYQjEYy',
          class: 'btn discord mt-2', target: '_blank' %>
        <%= link_to t('home_page.patreon_button'), 'https://www.patreon.com/raelys',
          class: 'btn patreon mt-2', target: '_blank' %>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <h5 class="card-header">API</h5>
          <div class="card-body">
            <p>
              <%= t('home_page.api_description_html',
                    link: link_to(t('alerts.here'), api_docs_path, target: '_blank')) %>
            </p>
            <b>GET <%= link_to nil, api_mount_url(186), class: 'unstyled' %></b>
            <%= render 'api_sample' %>
          </div>
        </div>
      </div>
    </div>
    <p class="text-right mt-2">
      FINAL FANTASY is a registered trademark of Square Enix Holdings Co., Ltd.<br>
      FINAL FANTASY XIV © SQUARE ENIX CO., LTD.
    </p>
  </div>
</div>
