<% title(t('orchestrions.title')) %>
<% description("Track your character's orchestrion rolls and discover how to obtain new ones.") %>

<%= render 'shared/filters' %>
<div class="d-flex justify-content-center">
  <div class="d-inline-flex flex-column">
    <%= render 'shared/category_buttons', categories: @categories, selected: @category %>
    <div class="d-flex justify-content-between align-items-end mt-2 mb-1">
      <div>
        <% if @character&.verified_user?(current_user) %>
          <%= link_to t('orchestrions.quick_select'), select_orchestrions_path, class: 'btn btn-secondary btn-sm' %>
        <% end %>
      </div>
      <%= search_form_for(@q, url: orchestrions_path, enforce_utf8: false,
                          class: 'form form-inline search-form d-flex mx-auto') do |f| %>
        <%= f.search_field "name_#{I18n.locale}_cont", placeholder: t('name'), size: 40,
          class: 'form-control form-control-sm flex-grow-1' %>
        <%= f.collection_select :sources_type_id_eq, @types, :id, :name,
          { include_blank: t('all.sources') }, class: 'form-control form-control-sm' %>
        <%= f.submit t('search'), name: nil, class: 'btn btn-primary btn-sm mr-0' %>
      <% end %>
      <%= render 'shared/active_filters' %>
    </div>
    <%= render 'shared/collection_progress', ids: @orchestrions.map(&:id) %>
    <%= javascript_tag "window._token = '#{form_authenticity_token}'" %>
    <table class="table table-striped table-sm shadow sortable collection categorized <%= ' comparing' if @comparison.present? %>">
      <thead>
        <tr>
          <th scope="col" data-defaultsort="disabled"></th><!-- Image -->
          <th scope="col" class="text-center all-hide<%= ' hidden' unless @category.present? %>">#</th>
          <th scope="col" class="name"><%= t('name') %></th>
          <th scope="col" class="hide-xs"><%= t('source') %></th>
          <th scope="col" class="category text-center hide-xs"><%= t('category') %></th>
          <th scope="col" class="text-center"><%= fa_icon('dollar-sign') %></th>
          <th scope="col" class="text-center hide-xs"><%= t('own') %></th>
          <th scope="col" class="text-center"><%= t('patch') %></th>
          <% if character_selected? %>
            <th scope="col"></th><!-- Owned -->
          <% end %>
          <% if @comparison.present? %>
            <th scope="col"></th><!-- Comparison -->
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @orchestrions.each do |orchestrion| %>
          <tr class="<%= category_row_classes(orchestrion, @category) %>">
            <td><%= image_tag('orchestrion.png') %></td>
            <td class="text-center all-hide<%= ' hidden' unless @category.present? %>">
              <%= orchestrion_number(orchestrion) %>
            </td>
            <td class="orchestrion-name"><%= link_to(orchestrion.name, orchestrion_path(orchestrion), class: 'name') %></td>
            <td class="orchestrion-source hide-xs" data-value="<%= source_sort_value(orchestrion) %>">
              <%= sources(orchestrion) %>
            </td>
            <td class="orchestrion-category text-center hide-xs"><%= orchestrion.category.name %></td>
            <td class="text-center" data-value="<%= price_sort_value(orchestrion) %>">
              <%= market_link(orchestrion) %>
            </td>
            <td class="text-center hide-xs" data-value="<%= rarity(orchestrion, numeric: true) %>">
              <%= rarity(orchestrion) %>
            </td>
            <td class="text-center" data-value="<%= sort_value(orchestrion) %>"><%= orchestrion.patch %></td>
            <% if character_selected? %>
              <%= td_owned(orchestrion) %>
            <% end %>
            <% if @comparison.present? %>
              <%= td_comparison(orchestrion) %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
