<% title(@orchestrion.name) %>
<% description(@orchestrion.description.truncate(150)) %>
<% image(image_url('orchestrion.png', skip_pipeline: true)) %>

<div class="row">
  <div class="col-12 col-lg-8 col-xl-6 offset-lg-2 offset-xl-3">
    <div class="card">
      <div class="card-header d-flex align-items-center">
        <%= image_tag('orchestrion.png') %>
        <h5 class="card-title ml-2">
          <%= orchestrion_number(@orchestrion) %>
          <%= @orchestrion.name %>
        </h5>
      </div>
      <div class="card-body">
        <div class="d-flex flex-column flex-info">
          <div class="d-flex flex-wrap">
            <div>
              <dt>Category</dt>
              <dd>
                <%= link_to @orchestrion.category.name,
                  orchestrions_path(category: @orchestrion.category_id), class: 'unstyled' %>
              </dd>
            </div>
            <div>
              <dt>Tradeable</dt>
              <dd><%= tradeable(@orchestrion) %></dd>
            </div>
            <%= render 'shared/ownership', collectable: @orchestrion %>
            <div>
              <dt>Patch</dt>
              <dd><%= @orchestrion.patch %></dd>
            </div>
          </div>
          <dt>Source</dt>
          <dd class="mb-0"><%= format_text_long(@orchestrion.description) %></dd>
          <hr>
          <h6>Audio sample</h6>
          <audio controls="" controlslist="nodownload" class="my-2">
            <source src="https://www.garlandtools.org/files/orchestrion/<%= @orchestrion.id %>.ogg" type="audio/ogg">
          </audio>
          <p class="mb-0">Powered by <%= link_to 'Garland Tools', 'http://www.garlandtools.org/db', target: '_blank' %></p>
        </div>
      </div>
    </div>
  </div>
</div>
