<% title(t('titles.title')) %>
<% description("Automatically track your character's titles and discover how to obtain new ones.") %>

<div class="d-flex justify-content-center mb-2">
  <%= search_form_for(@q, url: titles_path, enforce_utf8: false, class: 'form form-inline search-form d-flex') do |f| %>
    <%= f.search_field "name_#{I18n.locale}_or_female_name_#{I18n.locale}_cont", placeholder: 'Title',
      size: 40, class: 'form-control form-control-sm'%>
    <%= button_tag fa_icon('filter', text: t('filters')), data: { toggle: 'modal', target: '#filters'},
      type: 'button', class: 'btn btn-secondary btn-sm modal-toggle' %>
    <%= f.submit t('search'), name: nil, class: 'btn btn-primary btn-sm mr-0' %>
  <% end %>
</div>
<%= render 'shared/filters' %>
<div class="d-flex justify-content-center">
  <div class="d-inline-flex flex-column">
    <%= render 'shared/collection_progress', ids: @titles.map(&:achievement_id) %>
    <table class="table table-striped shadow p-3 collection sortable<%= ' comparing' if @comparison.present? %>">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col" class="hide-xs">Achievement</th>
          <th scope="col" class="hide-xs"><%= t('category') %></th>
          <th scope="col" class="text-center hide-sm"><%= t('own') %></th>
          <th scope="col" class="text-center"><%= t('patch') %></th>
          <% if character_selected? %>
            <th scope="col"></th><!-- Owned -->
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @titles.each do |title| %>
          <tr class="collectable<%= ' owned' if owned?(title.achievement_id) %>">
            <td data-value="<%= title.order %>"></td>
            <td><%= title_name(title) %></td>
            <td class="hide-xs">
              <%= link_to(title.achievement.name, achievement_path(title.achievement), class: 'name',
                          title: title.achievement.description, data: { toggle: 'tooltip' }) %>
            </td>
            <td class="hide-sm"><%= achievement_type_category_link(title.achievement) %></td>
            <td class="text-center hide-xs" data-value="<%= rarity(title.achievement, numeric: true) %>">
              <%= rarity(title.achievement) %>
            </td>
            <td class="text-center"><%= title.achievement.patch %></td>
            <% if character_selected? %>
              <% if @comparison.present? %>
                <%= td_comparison(title.achievement) %>
              <% else %>
                <%= td_owned(title.achievement) %>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
