<% title(t('spells.title')) %>
<% description("Track your character's Blue Magic spells and discover how to obtain new ones.") %>

<div class="d-flex justify-content-center mb-3">
  <div class="btn-group">
    <%= button_tag t('spells.learn'), class: 'btn btn-secondary active', disabled: true %>
    <%= link_to t('spells.battle'), battle_spells_path, class: 'btn btn-secondary' %>
  </div>
</div>
<%= render 'shared/filters' %>
<div class="d-flex justify-content-center">
  <div class="d-inline-flex flex-column">
    <div class="d-flex justify-content-between align-items-end mb-1">
      <div></div>
      <%= search_form_for(@q, url: spells_path, enforce_utf8: false, class: 'form form-inline search-form d-flex') do |f| %>
        <%= f.search_field "name_#{I18n.locale}_cont", placeholder: t('name'), size: 40,
          class: 'form-control form-control-sm flex-grow-1' %>
        <%= f.collection_select :type_id_eq, SpellType.all.order("name_#{I18n.locale}"), :id, :name,
          { include_blank: t('all.types') }, class: 'form-control form-control-sm' %>
        <%= f.select "aspect_name_#{I18n.locale}_eq", @aspects, { include_blank: t('all.aspects') },
          class: 'form-control form-control-sm' %>
        <%= f.select :rank_eq, rank_options, { include_blank: t('all.ranks') }, class: 'form-control form-control-sm' %>
        <%= f.submit t('search'), name: nil, class: 'btn btn-primary btn-sm mr-0' %>
      <% end %>
      <%= render 'shared/active_filters' %>
    </div>
    <%= render 'shared/collection_progress', ids: @spells.map(&:id) %>
    <%= javascript_tag "window._token = '#{form_authenticity_token}'" %>
    <table class="table table-striped table-sm shadow sortable collection categorized <%= ' comparing' if @comparison.present? %>">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col" data-defaultsort="disabled"></th><!-- Image -->
          <th scope="col"><%= t('name') %></th>
          <th scope="col" class="hide-xs"><%= t('spells.enemy') %></th>
          <th scope="col" class="hide-xs"><%= t('spells.location') %></th>
          <th scope="col" class="text-center hide-md"><%= t('type') %></th>
          <th scope="col" class="text-center hide-md"><%= t('spells.aspect') %></th>
          <th scope="col" class="text-center hide-md"><%= t('spells.rank') %></th>
          <th scope="col" class="text-center hide-md"><%= t('own') %></th>
          <% if character_selected? %>
            <th scope="col"></th><!-- Owned -->
          <% end %>
          <% if @comparison.present? %>
            <th scope="col"></th><!-- Comparison -->
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @spells.each do |spell| %>
          <tr class="<%= collectable_classes(spell) %>">
            <td class="number"><%= t('spells.number') %> <%= spell.order %></td>
            <td class="spell-sprite">
              <%= link_to(spell_path(spell)) do %>
                <%= sprite(spell, :spell) %>
              <% end %>
            </td>
            <td><%= link_to(spell.name, spell_path(spell), class: 'name') %></td>
            <% spell_sources(spell).each do |source| %>
              <td class="hide-xs"><%= source %></td>
            <% end %>
            <td class="text-center hide-md"><%= spell.type.name %></td>
            <td class="text-center hide-md"><%= spell.aspect.name %></td>
            <td class="text-center no-wrap hide-md" data-value="<%= spell.rank %>"><%= spell_rank(spell) %></td>
            <td class="text-center hide-md" data-value="<%= rarity(spell, numeric: true) %>"><%= rarity(spell) %></td>
            <% if character_selected? %>
              <%= td_owned(spell) %>
            <% end %>
            <% if @comparison.present? %>
              <%= td_comparison(spell) %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
