<% title('Fashion Accessories') %>
<% description("Track your character's fashion accessories and discover how to obtain new ones.") %>

<div class="d-flex justify-content-center my-2">
  <%= search_form_for(@q, url: fashions_path, enforce_utf8: false, class: 'form form-inline search-form d-flex') do |f| %>
    <%= f.search_field "name_#{I18n.locale}_cont", placeholder: 'Name', size: 40,
      class: 'form-control form-control-sm flex-grow-1' %>
    <%= f.collection_select :sources_type_id_eq, @types, :id, :name,
      { include_blank: 'All Sources' }, class: 'form-control form-control-sm' %>
    <%= button_tag fa_icon('filter', text: 'Filters'), data: { toggle: 'modal', target: '#filters'},
      type: 'button', class: 'btn btn-secondary btn-sm modal-toggle' %>
    <%= f.submit 'Search', name: nil, class: 'btn btn-primary btn-sm mr-0' %>
  <% end %>
</div>
<%= render 'shared/filters' %>
<%= render 'shared/collection_progress', ids: @fashions.map(&:id) %>
<%= javascript_tag "window._token = '#{form_authenticity_token}'" %>
<table class="table table-striped table-sm shadow sortable collection categorized <%= ' comparing' if @comparison.present? %>">
  <thead>
    <tr>
      <th scope="col">#</th><!-- Image -->
      <th scope="col">Name</th>
      <th scope="col" class="hide-xs">Source</th>
      <th scope="col" class="text-center"><%= fa_icon('dollar-sign') %></th>
      <th scope="col" class="text-center hide-xs">Own</th>
      <th scope="col" class="text-center">Patch</th>
      <% if character_selected? %>
        <th scope="col"></th><!-- Owned -->
      <% end %>
      <% if @comparison.present? %>
        <th scope="col"></th><!-- Comparison -->
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @fashions.each do |fashion| %>
      <tr class="collectable<%= ' owned' if owned?(fashion.id) %>">
        <td data-value="<%= fashion.order %>"><%= sprite(fashion, 'fashions-small') %></td>
        <td><%= link_to(fashion.name, fashion_path(fashion), class: 'name') %></td>
        <td class="hide-xs"><%= sources(fashion) %></td>
        <td class="text-center" data-value="<%= fashion.item_id.present? ? 1 : 0 %>"><%= market_link(fashion) %></td>
        <td class="text-center hide-xs" data-value="<%= rarity(fashion, numeric: true) %>"><%= rarity(fashion) %></td>
        <td class="text-center" data-value="<%= sort_value(fashion) %>"><%= fashion.patch %></td>
        <% if character_selected? %>
          <%= td_owned(fashion, manual: true) %>
        <% end %>
        <% if @comparison.present? %>
          <%= td_comparison(fashion) %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
