<div class="card">
  <div class="card-header">
    <div class="d-flex align-items-center">
      <%= link_to :admin_groups, class: 'unstyled mr-auto pt-1' do %>
        <h5>Manage Groups</h5>
      <% end %>
      <%= search_form_for(@q, url: admin_groups_path, class: 'form form-inline admin-search-form') do |f| %>
        <%= f.search_field :name_cont, placeholder: 'Name', size: 30, class: 'form-control form-control-sm' %>
        <%= f.search_field :slug_eq, placeholder: 'ID', size: 25, class: 'form-control form-control-sm' %>
        <%= f.submit 'Search', class: 'btn btn-secondary btn-sm' %>
      <% end %>
    </div>
  </div>
  <div class="card-body card-table">
    <table class="table table-striped">
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Members</th>
        <th>ID</th>
        <th>Owner</th>
        <th>Owner ID</th>
        <th>Created</th>
        <th class="text-center">Public</th>
        <th></th> <!-- Buttons -->
      </tr>
      <% @groups.each do |group| %>
        <tr>
          <td><%= group.name %></td>
          <td><%= group.description.truncate(100) %></td>
          <td><%= group.characters.size %></td>
          <td><%= group.slug %></td>
          <td><%= username(group.owner) %></td>
          <td><%= group.owner.uid %></td>
          <td><%= format_date(group.created_at) %></td>
          <td class="text-center"><%= fa_check(group.public?, false) %></td>
          <td>
            <%= link_to fa_icon('info-circle'), group_path(group), class: 'btn btn-secondary btn-sm' %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="card-footer d-flex justify-content-center mb-0">
    <%= will_paginate(@groups) %>
  </div>
</div>
