<% title("#{t('achievements.title')} #{t('achievements.overview')}") %>
<% description("Automatically track your character's achievements and discover how to obtain new ones.") %>

<div class="row">
  <div class="col-12 col-xl-10 offset-xl-1">
    <div class="d-flex align-items-end mr-3 mb-2">
      <%= button_tag fa_icon('filter', text: t('filters')), data: { toggle: 'modal', target: '#filters'},
        type: 'button', class: 'btn btn-secondary btn-sm modal-toggle ml-auto' %>
    </div>
    <%= render 'shared/filters' %>
    <div class="d-flex flex-wrap justify-content-around justify-content-md-start">
      <% @types.each do |type| %>
        <div class="col-12 col-lg-6 mb-3">
          <div class="card">
            <h5 class="card-header text-center">
              <%= link_to type.name, achievement_type_path(type), class: 'unstyled' %>
            </h5>
            <div class="card-body py-3">
              <%= render 'shared/progress', value: achievement_count(@achievements[type.id], @collection_ids),
                min: 0, max: @achievements[type.id].size, text: 'complete' %>
              <div class="mt-3">
                <%= render 'shared/progress', value: point_count(@achievements[type.id], @collection_ids),
                  min: 0, max: @achievements[type.id].pluck(:points).sum, text: 'achievements.points', alt: true %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
