<div class="row">
  <div class="col-12 col-md-10 col-lg-8 offset-md-1 offset-lg-2">
    <div class="card">
      <div class="card-header d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
          <div class="achievement-icon">
            <%= achievement_icon(@achievement) %>
          </div>
          <h5 class="card-title ml-2"><%= @achievement.name %></h5>
        </div>
        <h4 class="mb-0"><%= @achievement.points %></h4>
      </div>
      <div class="card-body d-flex flex-column">
        <div class="d-flex mb-2">
          <div class="mr-5">
            <dt>Category</dt>
            <dd>
              <%= link_to "#{@achievement.type.name} / #{@achievement.category.name}",
                achievement_type_path(@achievement.type, anchor: @achievement.category_id), class: 'unstyled' %>
            </dd>
          </div>
          <div>
            <dt>Patch</dt>
            <dd><%= @achievement.patch %></dd>
          </div>
        </div>
        <div>
          <dt><u>How to obtain</u></dt>
          <dd class="mb-0"><%= @achievement.description %></dd>
        </div>
        <% if @achievement.title.present? %>
          <hr>
          <dt>Title Reward</dt>
          <dd><%= @achievement.title %></dd>
        <% elsif @achievement.item_id.present? %>
          <hr>
          <dt>Item Reward</dt>
          <dd><%= achievement_item_link(@achievement) %></dd>
        <% end %>
      </div>
    </div>
  </div>
</div>
