<% title(@achievement.name) %>
<% description(@achievement.description.truncate(150)) %>
<% image(image_url("achievements/#{@achievement.icon_id}.png", skip_pipeline: true)) %>

<div class="row">
  <div class="col-12 col-sm-10 col-md-8 col-lg-6 offset-sm-1 offset-md-2 offset-lg-3">
    <div class="card">
      <div class="card-header d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
          <%= sprite(@achievement, 'achievement') %>
          <h5 class="card-title ml-2"><%= @achievement.name %></h5>
          <% if @achievement.time_limited? %>
            <%= far_icon('clock', class: 'ml-1', data: { toggle: 'tooltip' }, title: t('tooltips.time_limited_achievement')) %>
          <% end %>
        </div>
        <h4 class="mb-0"><%= @achievement.points %></h4>
      </div>
      <div class="card-body d-flex flex-column flex-info py-3">
        <div class="d-flex mb-2">
          <div>
            <dt><%= t('category') %></dt>
            <dd><%= achievement_type_category_link(@achievement) %></dd>
          </div>
          <%= render 'shared/ownership', collectable: @achievement %>
          <div>
            <dt><%= t('patch') %></dt>
            <dd><%= @achievement.patch %></dd>
          </div>
        </div>
        <div>
          <dt><u><%= t('how_to_obtain') %></u></dt>
          <dd class="mb-0"><%= format_text_long(@achievement.description) %></dd>
        </div>
        <% if @achievement.title.present? %>
          <hr>
          <dt><%= t('achievements.title_reward') %></dt>
          <dd><%= title_name(@achievement.title) %></dd>
        <% elsif @achievement.item_id.present? %>
          <hr class="mb-0">
          <dt class="mb-2"><%= t('achievements.item_reward', count: 1) %></dt>
          <dd>
            <div class="d-flex align-items-center">
              <%= sprite(@achievement.item, 'item') %>
              <span class="ml-2">
                <%= database_link('item', @achievement.item.name, @achievement.item.id) %>
              </span>
            </div>
          </dd>
        <% end %>
      </div>
    </div>
  </div>
</div>
