<div class="d-flex justify-content-between mb-2">
  <h3><%= @type.name %> Achievements</h3>
  <button class="btn btn-secondary btn-sm mb-2 mr-1" id="collapseToggle" data-expanded="false">
    <%= fa_icon('expand', text: 'Expand All') %>
  </button>
</div>
<div id="achievementCategories">
  <% @categories.each do |category| %>
    <div class="card mb-3">
      <%= link_to "#collapse-#{category.id}", data: { toggle: 'collapse' }, class: 'unstyled' do %>
        <div class="card-header d-flex justify-content-between align-items-center">
          <h5 class="card-title">
            <%= category.name %>
          </h5>
          <% if character_selected? %>
            <h6 <%= 'class="complete"'.html_safe if completed?(category, @achievement_ids) %>>
              <%= achievement_completion(category, @achievement_ids) %>
            </h6>
          <% else %>
            <h6><%= category.achievements.size %> Achievements / <%= category.achievements.pluck(:points).sum %> Points</h6>
          <% end %>
        </div>
      <% end %>
      <div class="collapse" id="collapse-<%= category.id %>">
        <div class="card-body card-table">
          <table class="table table-striped table-sm shadow">
            <thead>
              <tr>
                <th scope="col"></th> <!-- Image -->
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col"><%= fa_icon('star-o') %></th>
                <th scope="col" class="text-center">Points</th>
                <th scope="col" class="text-center">Patch</th>
                <% if character_selected? %>
                  <th scope="col" class="text-center">Done</th>
                <% end %>
              </tr>
            </thead>
            <tbody>
              <% category.achievements.sort_by(&:order).each do |achievement| %>
                <tr class="collectable<%= ' owned' if @achievement_ids.include?(achievement.id) %>">
                  <td>
                    <%= link_to(achievement_path(achievement)) do %>
                      <%= achievement_icon(achievement) %>
                    <% end %>
                  </td>
                  <td><%= link_to(achievement.name, achievement_path(achievement), class: 'name') %></td>
                  <td><%= truncate_text(achievement.description, 70) %></td>
                  <td><%= achievement_reward(achievement) %></td>
                  <td class="text-center"><%= achievement.points %></td>
                  <td class="text-center"><%= achievement.patch %></td>
                  <% if character_selected? %>
                    <td class="text-center"><%= owned(@achievement_ids, achievement.id) %></td>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% end %>
</div>
