<% title("#{@type.name} Achievements") %>

<div class="d-flex justify-content-between mb-2">
  <h3><%= @type.name %> Achievements</h3>
  <div class="d-flex align-items-center">
    <%= button_tag fa_icon('filter', text: 'Filters'), data: { toggle: 'modal', target: '#filters'},
      type: 'button', class: 'btn btn-secondary btn-sm modal-toggle' %>
    <button class="btn btn-secondary btn-sm ml-3 mr-1" id="collapseToggle" data-expanded="false">
      <%= fa_icon('expand', text: 'Expand All') %>
    </button>
  </div>
</div>
<%= render 'shared/filters' %>
<div class="collection" id="achievementCategories">
  <% @categories.each do |category| %>
    <div class="card mb-3">
      <%= link_to "#collapse-#{category.id}", data: { toggle: 'collapse' }, class: 'unstyled' do %>
        <div class="card-header d-flex justify-content-between align-items-center">
          <h5 class="card-title">
            <%= category.name %>
          </h5>
          <% if character_selected? %>
            <h6 <%= 'class="complete"'.html_safe if completed?(category, @achievement_ids) %>>
              <%= achievement_completion(category, @achievement_ids) %>
            </h6>
          <% else %>
            <h6><%= category.achievements.size %> Achievements / <%= category.achievements.pluck(:points).sum %> Points</h6>
          <% end %>
        </div>
      <% end %>
      <div class="collapse" id="collapse-<%= category.id %>">
        <div class="card-body card-table">
          <table class="table table-striped table-sm shadow sortable">
            <thead>
              <tr>
                <th scope="col" data-defaultsort="disabled"></th> <!-- Image -->
                <th scope="col" class="name">Name</th>
                <th scope="col" class="hide-xs">Description</th>
                <th scope="col" data-firstsort="desc" class="reward"><%= fa_icon('star-o') %></th>
                <th scope="col" class="text-center">Points</th>
                <th scope="col" class="text-center">Own</th>
                <th scope="col" class="text-center hide-xs">Patch</th>
                <% if character_selected? %>
                  <th scope="col"></th>
                <% end %>
              </tr>
            </thead>
            <tbody>
              <% category.achievements.sort_by(&:order).each do |achievement| %>
                <tr class="collectable<%= ' owned' if @achievement_ids.include?(achievement.id) %>">
                  <td>
                    <%= link_to(achievement_path(achievement)) do %>
                      <%= sprite(achievement, 'achievement') %>
                    <% end %>
                  </td>
                  <td><%= link_to(achievement.name, achievement_path(achievement), class: 'name') %></td>
                  <td class="hide-xs"><%= format_text_long(achievement.description) %></td>
                  <td data-value="<%= achievement_reward_value(achievement) %>">
                    <%= achievement_reward(achievement) %>
                  </td>
                  <td class="text-center"><%= achievement.points %></td>
                  <td class="text-center hide-xs" data-value="<%= rarity(achievement, numeric: true) %>">
                    <%= rarity(achievement) %>
                  </td>
                  <td class="text-center" data-value="<%= achievement.patch %><%= achievement.id %>">
                    <%= achievement.patch %>
                  </td>
                  <% if character_selected? %>
                    <%= td_owned(@achievement_ids, achievement, false, @achievement_dates[achievement.id]) %>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% end %>
</div>
