<% title('NPCs') %>
<% description("Track your character's Triple Triad NPC progress.") %>

<%= render 'shared/filters' %>
<div class="d-flex justify-content-center">
  <div class="d-inline-flex flex-column">
    <div class="d-flex flex-wrap justify-content-between align-items-center">
      <div class="mb-1">
        <%= form_tag(npcs_path, method: :get, enforce_utf8: false, class: 'form form-inline search-form d-flex flex-wrap',
                     id: 'npc-search') do %>
           <%= select_tag :location, options_for_select(Location.order(:id).map(&:region).uniq, @location),
             include_blank: t('all.locations'), class: 'form-control form-control-sm mt-0' %>
           <%= select_tag :rule, npc_rule_options(@rule), include_blank: t('all.rules'),
             class: 'form-control form-control-sm' %>
           <% if @character&.verified_user?(current_user) %>
             <%= link_to t('triad.npcs.update_defeated'), update_defeated_npcs_path, method: :post,
               class: 'btn btn-sm btn-secondary mr-2',
               data: { confirm: t('triad.npcs.update_defeated_confirmation') } %>
             <%= render 'triad/import_button' %>
           <% end %>
         <% end %>
      </div>
      <div class="mb-1">
        <% if character_selected? %>
          <div class="">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="display" id="show-all" checked />
              <label class="form-check-label" for="show-all"><%= t('triad.npcs.filters.show_all') %></label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="display" id="hide-completed" />
              <label class="form-check-label" for="hide-completed"><%= t('triad.npcs.filters.missing_rewards') %></label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="display" id="hide-defeated" />
              <label class="form-check-label" for="hide-defeated"><%= t('triad.npcs.filters.undefeated') %></label>
            </div>
            <div class="form-check form-check-inline mr-0">
              <input class="form-check-input" type="radio" name="display" id="hide-finished" />
              <label class="form-check-label" for="hide-finished"><%= t('triad.npcs.filters.unfinished') %></label>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <%= render 'shared/collection_progress', ids: @valid_npcs.map(&:id) %>
    <%= javascript_tag "window._token = '#{form_authenticity_token}'" %>
    <table class="table table-striped table-sm shadow sortable collection npcs">
      <thead>
        <tr>
          <th scope="col" class="npc-name"><%= t('name') %></th>
          <th scope="col"><%= t('spells.location') %></th>
          <th scope="col" class="hide-xs"><%= t('triad.npcs.rules') %></th>
          <th scope="col" class="hide-sm"><%= t('triad.npcs.difficulty') %></th>
          <th scope="col" class="hide-sm quest-name"><%= t('triad.npcs.quest') %></th>
          <th scope="col"><%= t('triad.npcs.rewards') %></th>
          <th scope="col" class="hide-xs text-center"><%= t('patch') %></th>
          <% if character_selected? %>
            <th scope="col" class="text-center" data-defaultsort="disabled"></th> <!-- Won -->
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @npcs.each do |npc| %>
          <tr class="npc-row no-fade <%= collectable_classes(npc) %><%= ' completed' if !@incomplete.include?(npc.id) %><%= ' defeated' if @collection_ids.include?(npc.id) %><%= ' excluded' if npc.excluded? %>">
            <td class="npc-name"><%= link_to(format_npc_name(npc), npc_path(npc), class: 'name') %></td>
            <td><%= location(npc) %></td>
            <td class="hide-xs"><%= format_rules(npc) %></td>
            <td class="hide-sm" data-value="<%= npc.difficulty %>"><%= difficulty(npc) %></td>
            <td class="hide-sm quest-name"><%= quest(npc) %></td>
            <td class="npc-rewards" data-value="<%= npc.rewards.size %>">
              <div class="d-flex flex-wrap card-list">
                <% npc.rewards.each do |card| %>
                  <% if @character&.verified_user?(current_user) %>
                    <div class="card-toggle<%= ' owned' if @card_ids.include?(card.id) %>"
                         data-path="<%= @card_ids.include?(card.id) ? remove_card_path(card) : add_card_path(card) %>"
                         data-toggle="tooltip" data-placement="top" title="<%= card.name %>">
                         <%= sprite(card, 'cards-small') %>
                    </div>
                  <% else %>
                    <%= link_to card_path(card) do %>
                      <div data-toggle="tooltip" data-placement="top" title="<%= card.name %>">
                        <%= sprite(card, 'cards-small') %>
                      </div>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            </td>
            <td class="hide-xs text-center" data-value="<%= npc.patch %><%= npc.id %>"><%= npc.patch %></td>
            <% if character_selected? %>
              <%= td_owned(npc) %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
