<div class="d-flex flex-column current-character mx-3">
  <div class="d-flex align-items-center">
    <%= image_tag(character.avatar, class: 'avatar mr-2') if user_signed_in? %>
    <div class="d-flex flex-column">
      <b><%= character.name %></b>
      <span><%= character.server %> <%= verified(character) if user_signed_in? %></span>
    </div>
  </div>
  <span class="updated">Last updated <%= time_ago_in_words(character.last_parsed) %> ago.</span>
</div>
<hr class="my-2">
<% if user_signed_in? && !character.verified? %>
  <%= link_to fa_icon('check-circle', text: 'Verify Character'), verify_character_path, class: 'dropdown-item' %>
<% end %>
<%= link_to fa_icon('refresh', text: 'Refresh Character'), refresh_character_path,
  method: :post, class: 'dropdown-item' %>
<%= link_to fa_icon('undo', text: 'Change Character'), search_characters_path, class: 'dropdown-item' %>
<% if user_signed_in? && character.verified_user?(current_user) %>
  <%= link_to fa_icon('wrench', text: 'Character Settings'), character_settings_path, class: 'dropdown-item' %>
<% end %>
<%= link_to fa_icon('times', text: 'Forget Character'), forget_character_path, class: 'dropdown-item', method: :delete %>
