<div class="sidebar-sticky">
  <div class="navbar-nav no-wrap mt-1">
    <%= link_to fa_icon('home', text: 'Home'), root_path, class: 'nav-link d-block d-sm-none' %>

    <!-- Achievments -->
    <div class="nav-item dropdown<%= ' bold' if active_path?(achievements_path) %>">
      <a class="nav-link dropdown-toggle" href="#" id="achievementsDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false"><%= fa_icon('trophy', text: 'Achievements') %></a>
      <div class="dropdown-menu" aria-labelledBy="achievementsDropdown">
        <%= link_to 'Overview', achievements_path, class: 'dropdown-item bold' if @character.present? %>
        <%= link_to 'Titles', titles_path, class: 'dropdown-item bold' %>
        <%= link_to 'Item Rewards', achievement_items_path, class: 'dropdown-item bold' %>
        <% AchievementType.order(:order).all.each do |type| %>
          <%= link_to type.name, achievement_type_path(type), class: 'dropdown-item' %>
        <% end %>
      </div>
    </div>

    <%= nav_link('Mounts', 'horse', mounts_path) %>
    <%= nav_link('Minions', 'paw', minions_path) %>
    <%= nav_link('Orchestrion', 'music', orchestrions_path) %>
    <%= nav_link('Blue Magic', 'magic', spells_path) %>
    <%= nav_link('Emotes', 'smile', emotes_path) %>
    <%= nav_link('Bardings', 'chess-knight', bardings_path) %>
    <%= nav_link('Hairstyles', 'cut', hairstyles_path) %>
    <%= nav_link('Armoire', 'tshirt', armoires_path) %>
    <%= nav_link('Fashion Accessories', 'umbrella', fashions_path) %>
    <%= link_to "#{fa_icon('th', text: 'Triple Triad')} #{fa_icon('external-link-alt')}".html_safe,
      'https://triad.raelys.com/', target: '_blank', class: 'nav-link' %>

    <!-- Relics -->
    <div class="nav-item dropdown<%= ' bold' if active_path?(relic_weapons_path) %>">
      <a class="nav-link dropdown-toggle" href="#" id="relicsDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false"><%= fa_icon('shield-alt', text: 'Relics') %></a>
      <div class="dropdown-menu" aria-labelledBy="relicsDropdown">
        <%= link_to fa_icon('sync', text: 'Weapons', right: true), relic_weapons_path, class: 'dropdown-item' %>
        <%= link_to fa_icon('check-square', text: 'Weapons', right: true), relic_weapons_manual_path, class: 'dropdown-item' %>
        <%= link_to 'Armor', relic_armor_path, class: 'dropdown-item' %>
        <%= link_to 'Tools', relic_tools_path, class: 'dropdown-item' %>
      </div>
    </div>

    <!-- Leaderboards -->
    <% if @character&.free_company_id.present? %>
      <div class="nav-item dropdown<%= ' bold' if active_path?(leaderboards_path) %>">
        <a class="nav-link dropdown-toggle" href="#" id="leaderboardsDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false"><%= fa_icon('globe', text: 'Leaderboards') %></a>
        <div class="dropdown-menu" aria-labelledBy="leaderboardsDropdown">
          <%= link_to 'Global', leaderboards_path, class: 'nav-link' %>
          <%= link_to 'Free Company', free_company_leaderboards_path(@character.free_company_id),
            class: 'nav-link' %>
        </div>
      </div>
    <% else %>
      <%= nav_link('Global Leaderboards', 'globe', leaderboards_path) %>
    <% end %>

    <!-- Limited Time -->
    <%# <%= nav_link('Moogle Treasure Trove', 'exclamation-circle', law_tomestones_path) %1> %>
    <%= nav_link('Yo-Kai Watch', 'exclamation-circle', yokai_path) %>
  </div>
</div>
