<div class="sidebar-sticky">
  <div class="navbar-nav no-wrap mt-1">
    <%= link_to fa_icon('home', text: t('home')), root_path, class: 'nav-link d-block d-sm-none' %>
    <%= nav_link(t('search'), 'search', search_index_path) %>

    <!-- Achievments -->
    <div class="nav-item dropdown<%= ' bold' if active_path?(achievements_path) %>">
      <a class="nav-link dropdown-toggle" href="#" id="achievementsDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false"><%= fa_icon('trophy', text: t('achievements.title')) %></a>
      <div class="dropdown-menu" aria-labelledBy="achievementsDropdown">
        <% if @character.present? %>
          <%= link_to fa_icon('list', text: t('achievements.overview')), achievements_path, class: 'dropdown-item bold' %>
        <% end %>
        <%= link_to fa_icon('search', text: t('search')), achievement_search_path, class: 'dropdown-item bold' %>
        <%= link_to fa_icon('medal', text: t('titles.title')), titles_path, class: 'dropdown-item bold' %>
        <%= link_to fa_icon('box', text: t('achievements.item_reward', count: 2)), achievement_items_path,
          class: 'dropdown-item bold' %>
        <% AchievementType.order(:order).all.each do |type| %>
          <%= link_to type.name, achievement_type_path(type), class: 'dropdown-item' %>
        <% end %>
      </div>
    </div>

    <%= nav_link(t('mounts.title'), 'horse', mounts_path) %>
    <%= nav_link(t('minions.title'), 'paw', minions_path) %>
    <%= nav_link(t('orchestrions.title'), 'music', orchestrions_path) %>
    <%= nav_link(t('spells.title'), 'magic', spells_path) %>
    <%= nav_link(t('hairstyles.title'), 'cut', hairstyles_path) %>
    <%= nav_link(t('emotes.title'), 'smile', emotes_path) %>
    <%= nav_link(t('bardings.title'), 'chess-knight', bardings_path) %>
    <%= nav_link(t('armoires.title'), 'tshirt', armoires_path) %>
    <%= nav_link(t('outfits.title'), 'socks', outfits_path) %>
    <%= nav_link(t('fashions.title'), 'umbrella', fashions_path) %>
    <%= nav_link(t('facewear.title'), 'glasses', facewear_index_path) %>
    <%= nav_link(t('frames.title'), 'portrait', frames_path) %>

    <!-- Triple Triad -->
    <div class="nav-item dropdown<%= ' bold' if controller_path.match?('triad/') %>">
      <a class="nav-link dropdown-toggle" href="#" id="triadDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false"><%= fa_icon('th', text: t('triad.title')) %></a>
      <div class="dropdown-menu" aria-labelledBy="triadDropdown">
        <%= link_to fa_icon('id-badge', text: t('cards.title')), cards_path, class: 'dropdown-item' %>
        <%= link_to fa_icon('users', text: t('npcs.title')), npcs_path, class: 'dropdown-item' %>
        <%= link_to fa_icon('list-alt', text: t('triad.decks.title')), decks_path, class: 'dropdown-item' %>
        <%= link_to fa_icon('boxes', text: t('triad.packs.title')), packs_path, class: 'dropdown-item' %>
      </div>
    </div>

    <!-- Records -->
    <div class="nav-item dropdown<%= ' bold' if controller_path.match?('records') %>">
      <a class="nav-link dropdown-toggle" href="#" id="recordsDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false"><%= fa_icon('book', text: t('records.dropdown')) %></a>
      <div class="dropdown-menu" aria-labelledBy="recordsDropdown">
        <%= link_to fa_icon('file-alt', text: t('records.title')), records_path, class: 'dropdown-item' %>
        <%= link_to fa_icon('book-open', text: t('survey_records.title')), survey_records_path,
          class: 'dropdown-item' %>
      </div>
    </div>

    <!-- Relics -->
    <div class="nav-item dropdown<%= ' bold' if active_path?(relic_weapons_path) %>">
      <a class="nav-link dropdown-toggle" href="#" id="relicsDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false"><%= fa_icon('shield-alt', text: t('relics.title')) %></a>
      <div class="dropdown-menu" aria-labelledBy="relicsDropdown">
        <%= link_to fa_icon('pen-nib', text: t('relics.weapons')), relic_weapons_path, class: 'dropdown-item' %>
        <%= link_to fa_icon('dragon', text: t('relics.ultimate')), relic_ultimate_path, class: 'dropdown-item' %>
        <%= link_to fa_icon('tshirt', text: t('relics.armor')), relic_armor_path, class: 'dropdown-item' %>
        <%= link_to fa_icon('hammer', text: t('relics.tools')), relic_tools_path, class: 'dropdown-item' %>
        <%= link_to fa_icon('clock', text: t('relics.garo')), relic_garo_path, class: 'dropdown-item' %>
      </div>
    </div>

    <!-- Leves -->
    <div class="nav-item dropdown<%= ' bold' if active_path?(battlecraft_leves_path) %>">
      <a class="nav-link dropdown-toggle" href="#" id="levesDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <%= fa_icon('feather-alt', text: t('leves.title')) %>
      </a>
      <div class="dropdown-menu" aria-labelledBy="levesDropdown">
        <%= link_to fa_icon('bug', text: t('leves.crafts.battlecraft')),
          battlecraft_leves_path, class: 'dropdown-item' %>
        <%= link_to fa_icon('hammer', text: t('leves.crafts.tradecraft')),
          tradecraft_leves_path, class: 'dropdown-item' %>
        <%= link_to fa_icon('leaf', text: t('leves.crafts.fieldcraft')),
          fieldcraft_leves_path, class: 'dropdown-item' %>
      </div>
    </div>

    <!-- Tools -->
    <div class="nav-item dropdown<%= ' bold' if active_path?(materiel_tools_path) %>">
      <a class="nav-link dropdown-toggle" href="#" id="toolsDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false"><%= fa_icon('toolbox', text: t('tools.title')) %></a>
      <div class="dropdown-menu" aria-labelledBy="toolsDropdown">
        <%= link_to far_icon('gem', text: t('tools.gemstones.title')), gemstones_tools_path, class: 'dropdown-item' %>
        <%= link_to fa_icon('poll', text: t('tools.market_board.title')), market_board_tools_path, class: 'dropdown-item' %>
        <%= link_to fa_icon('box', text: t('tools.materiel.title')), materiel_tools_path, class: 'dropdown-item' %>
        <%= link_to fa_icon('map-marker-alt', text: t('tools.treasure.title')), treasure_tools_path, class: 'dropdown-item' %>
      </div>
    </div>

    <%= nav_link("#{t('random.title')} #{new_feature_badge}".html_safe, 'random', random_index_path) %>

    <%= link_to "#{fa_icon('fish', text: t('fish.title'))} #{fa_icon('external-link-alt')}".html_safe,
      'https://ff14fish.carbuncleplushy.com/', target: '_blank', class: 'nav-link' %>

    <!-- Leaderboards -->
    <% if @character&.free_company_id.present? %>
      <div class="nav-item dropdown<%= ' bold' if active_path?(leaderboards_path) %>">
        <a class="nav-link dropdown-toggle" href="#" id="leaderboardsDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false"><%= fa_icon('trophy', text: t('leaderboards.title')) %></a>
        <div class="dropdown-menu" aria-labelledBy="leaderboardsDropdown">
          <%= link_to fa_icon('globe', text: t('leaderboards.global')), leaderboards_path, class: 'nav-link' %>
          <%= link_to fa_icon('users', text: t('leaderboards.free_company')),
            free_company_leaderboards_path(@character.free_company_id), class: 'nav-link' %>
        </div>
      </div>
    <% else %>
      <%= nav_link(t('leaderboards.title'), 'trophy', leaderboards_path) %>
    <% end %>

    <%# <%= nav_link(t('yokai.title'), 'ghost', yokai_path) %1> %>
    <%= nav_link(t('tomestones.title'), 'clock', tomestones_path) %>
    <%= nav_link(t('commands.title'), 'discord', commands_path, fab: true, action: 'commands') %>
    <%= nav_link('FAQ', 'question-circle', faq_path, action: 'faq') %>
    <%= nav_link(t('credits.title'), 'info-circle', credits_path, action: 'credits') %>
  </div>
</div>
