<div class="sidebar-sticky">
  <div class="navbar-nav no-wrap mt-1">
    <%= link_to fa_icon('home', text: t('home')), root_path, class: 'nav-link d-block d-sm-none' %>

    <!-- Achievments -->
    <div class="nav-item dropdown<%= ' bold' if active_path?(achievements_path) %>">
      <a class="nav-link dropdown-toggle" href="#" id="achievementsDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false"><%= fa_icon('trophy', text: t('achievements.title')) %></a>
      <div class="dropdown-menu" aria-labelledBy="achievementsDropdown">
        <%= link_to t('achievements.overview'), achievements_path, class: 'dropdown-item bold' if @character.present? %>
        <%= link_to t('titles.title'), titles_path, class: 'dropdown-item bold' %>
        <%= link_to t('achievements.item_reward', count: 2), achievement_items_path, class: 'dropdown-item bold' %>
        <% AchievementType.order(:order).all.each do |type| %>
          <%= link_to type.name, achievement_type_path(type), class: 'dropdown-item' %>
        <% end %>
      </div>
    </div>

    <%= nav_link(t('mounts.title'), 'horse', mounts_path) %>
    <%= nav_link(t('minions.title'), 'paw', minions_path) %>
    <%= nav_link(t('orchestrions.title'), 'music', orchestrions_path) %>
    <%= nav_link(t('spells.title'), 'magic', spells_path) %>
    <%= nav_link(t('emotes.title'), 'smile', emotes_path) %>
    <%= nav_link(t('bardings.title'), 'chess-knight', bardings_path) %>
    <%= nav_link(t('hairstyles.title'), 'cut', hairstyles_path) %>
    <%= nav_link(t('armoires.title'), 'tshirt', armoires_path) %>
    <%= nav_link(t('fashions.title'), 'umbrella', fashions_path) %>
    <%= link_to "#{fa_icon('th', text: t('triple_triad.title'))} #{fa_icon('external-link-alt')}".html_safe,
      'https://triad.raelys.com/', target: '_blank', class: 'nav-link' %>

    <!-- Relics -->
    <div class="nav-item dropdown<%= ' bold' if active_path?(relic_weapons_path) %>">
      <a class="nav-link dropdown-toggle" href="#" id="relicsDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false"><%= fa_icon('shield-alt', text: t('relics.title')) %></a>
      <div class="dropdown-menu" aria-labelledBy="relicsDropdown">
        <%= link_to fa_icon('sync', text: t('relics.weapons'), right: true), relic_weapons_path, class: 'dropdown-item' %>
        <%= link_to fa_icon('check-square', text: t('relics.weapons'), right: true), relic_weapons_manual_path,
          class: 'dropdown-item' %>
        <%= link_to t('relics.armor'), relic_armor_path, class: 'dropdown-item' %>
        <%= link_to t('relics.tools'), relic_tools_path, class: 'dropdown-item' %>
      </div>
    </div>

    <!-- Leaderboards -->
    <% if @character&.free_company_id.present? %>
      <div class="nav-item dropdown<%= ' bold' if active_path?(leaderboards_path) %>">
        <a class="nav-link dropdown-toggle" href="#" id="leaderboardsDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false"><%= fa_icon('globe', text: t('leaderboards.title')) %></a>
        <div class="dropdown-menu" aria-labelledBy="leaderboardsDropdown">
          <%= link_to t('leaderboards.global'), leaderboards_path, class: 'nav-link' %>
          <%= link_to t('leaderboards.free_company'), free_company_leaderboards_path(@character.free_company_id),
            class: 'nav-link' %>
        </div>
      </div>
    <% else %>
      <%= nav_link(t('leaderboards.global_leaderboards'), 'globe', leaderboards_path) %>
    <% end %>

    <%= nav_link(t('commands.title'), 'discord', commands_path, fab: true) %>

    <!-- Limited Time -->
    <%= nav_link(t('tomestones.title'), 'exclamation-circle', esoterics_tomestones_path) %>
    <%# <%= nav_link(t('yokai.title'), 'exclamation-circle', yokai_path) %1> %>
  </div>
</div>
