<div class="nav-item dropdown ml-2">
  <a class="nav-link dropdown-toggle d-flex align-items-center p-0" href="#" id="userDropdown" role="button"
    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <div>
      <% if @character.present? %>
        <%= image_tag(@character.avatar, class: 'avatar') %>
      <% else %>
        <%= avatar(current_user) %>
      <% end %>
    </div>
    <span class="d-none d-sm-block">
      <%= @character.present? ? @character.name : current_user.username %>
    </span>
  </a>
  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
    <% if @character.present? %>
      <div class="d-flex flex-column menu-character mx-3">
        <div class="d-flex flex-column">
          <div class="d-flex justify-content-between">
            <b><%= @character.name %></b>
            <% if user_signed_in? %>
              <span class="ml-2"><%= username(current_user) %></span>
            <% end %>
          </div>
          <span><%= @character.server %> <%= verified(@character) if user_signed_in? %></span>
        </div>
        <%= last_updated(@character) %>
      </div>
      <% if @comparison.present? %>
        <hr class="my-2">
        <div class="d-flex align-items-center menu-character mx-3">
          <%= image_tag(@comparison.avatar, class: 'avatar mr-2') %>
          <div class="d-flex flex-column flex-grow-1">
            <div class="d-flex justify-content-between">
              <b><%= @comparison.name %></b>
              <%= link_to fa_icon('times', class: 'delete'), forget_character_comparison_path, method: :delete %>
            </div>
            <span>
              <%= @comparison.server %>
              <span class="badge badge-pill badge-secondary"><%= t('characters.comparing') %></span>
            </span>
          </div>
        </div>
      <% end %>
      <hr class="my-2">
      <%= link_to fa_icon('user', text: t('characters.character_profile')), character_path(@character), class: 'dropdown-item' %>
      <% if @character.free_company.present? %>
        <%= link_to fa_icon('users', text: t('free_companies.title')), free_company_path(@character.free_company), class: 'dropdown-item' %>
      <% end %>
      <%= link_to fa_icon('chart-bar', text: t('characters.stats')), stats_rarity_character_path(@character),
        class: 'dropdown-item' %>
      <% if user_signed_in? && !@character.verified_user?(current_user) %>
        <%= link_to fa_icon('check-circle', text: t('characters.verify')), verify_character_path, class: 'dropdown-item' %>
      <% end %>
      <%= link_to fa_icon('sync', text: t('characters.refresh')), refresh_character_path,
        method: :post, class: 'dropdown-item' %>
      <%= link_to fa_icon('search', text: t('characters.search')), search_characters_path, class: 'dropdown-item' %>
      <%= link_to fa_icon('times', text: t('characters.forget')), forget_character_path, class: 'dropdown-item',
        method: :delete %>
      <% if user_signed_in? %>
        <hr class="my-1">
      <% end %>
    <% end %>
    <% if user_signed_in? %>
      <% if current_user.admin? %>
        <%= link_to fa_icon('user', text: 'Manage Users'), admin_users_path, class: 'dropdown-item' %>
        <%= link_to fa_icon('users', text: 'Manage Characters'), admin_characters_path, class: 'dropdown-item' %>
        <%= link_to fa_icon('chart-line', text: 'Sidekiq'), '/admin/sidekiq', class: 'dropdown-item', target: '_blank' %>
      <% end %>
      <% if current_user.mod? %>
        <%= link_to fa_icon('table', text: 'Mod Dashboard'), mod_dashboard_path, class: 'dropdown-item' %>
        <hr class="my-1">
      <% end %>
      <%= link_to fa_icon('wrench', text: t('settings.title')), settings_path, class: 'dropdown-item' %>
      <%= link_to fa_icon('sign-out-alt', text: t('users.sign_out')), destroy_user_session_path, class: 'dropdown-item' %>
    <% end %>
  </div>
</div>
