<div class="navbar-nav nav-item mx-md-2">
  <% if @character.present? %>
    <%= image_tag(@character.avatar, class: 'avatar') %>
  <% else %>
    <%= avatar(current_user) %>
  <% end %>
</div>
<div class="navbar-nav nav-item dropdown">
  <a class="nav-link dropdown-toggle p-0" href="#" id="userDropdown" role="button" data-toggle="dropdown"
    aria-haspopup="true" aria-expanded="false"><%= @character.present? ? @character.name : current_user.username %></a>
  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
    <% if @character.present? %>
      <div class="d-flex flex-column current-character mx-3">
        <div class="d-flex flex-column">
          <div class="d-flex justify-content-between">
            <b><%= @character.name %></b>
            <% if user_signed_in? %>
              <span class="ml-2"><%= username(current_user) %></span>
            <% end %>
          </div>
          <span><%= @character.server %> <%= verified(@character) if user_signed_in? %></span>
        </div>
        <%= last_updated(@character) %>
      </div>
      <hr class="my-2">
      <%= link_to fa_icon('user', text: t(:'character.profile')), character_path(@character), class: 'dropdown-item' %>
      <% if user_signed_in? && !@character.verified? %>
        <%= link_to fa_icon('check-circle', text: t(:'character.verify')), verify_character_path, class: 'dropdown-item' %>
      <% end %>
      <%= link_to fa_icon('refresh', text: t(:'character.refresh')), refresh_character_path,
        method: :post, class: 'dropdown-item' %>
      <%= link_to fa_icon('undo', text: t(:'character.change')), search_characters_path, class: 'dropdown-item' %>
      <% if user_signed_in? && @character.verified_user?(current_user) %>
        <%= link_to fa_icon('wrench', text: t(:'character.settings')), character_settings_path, class: 'dropdown-item' %>
      <% end %>
      <%= link_to fa_icon('times', text: t(:'character.forget')), forget_character_path, class: 'dropdown-item', method: :delete %>
      <% if user_signed_in? %>
        <hr class="my-1">
      <% end %>
    <% end %>
    <% if user_signed_in? %>
      <% if current_user.admin? %>
        <%= link_to fa_icon('user', text: t(:'user.manage')), admin_users_path, class: 'dropdown-item' %>
        <%= link_to fa_icon('users', text: t(:'character.manage')), admin_characters_path, class: 'dropdown-item' %>
        <%= link_to fa_icon('line-chart', text: 'Sidekiq'), '/admin/sidekiq', class: 'dropdown-item', target: '_blank' %>
      <% end %>
      <% if current_user.mod? %>
        <%= link_to fa_icon('table', text: t(:'main.mod_dashboard')), mod_dashboard_path, class: 'dropdown-item' %>
        <hr class="my-1">
      <% end %>
      <%= link_to fa_icon('sign-out', text: t(:'user.sign_out')), destroy_user_session_path, class: 'dropdown-item' %>
    <% end %>
  </div>
</div>
