<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#DAA556">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">

    <title><%= yield_title('FFXIV Collect').html_safe %></title>
    <meta name="description"
      content="<%= yield_description(t(:'main.subtitle')) %>">
    <meta property="og:title" content="<%= yield_title('FFXIV Collect') %>">
    <meta property="og:description"
      content="<%= yield_description(t(:'main.subtitle')) %>">
    <meta property="og:image" content="<%= yield_image(image_path('logo.png', skip_pipeline: true)) %>">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <% if Rails.env.production? && ga_tid.present? %>
      <script async src="https://www.googletagmanager.com/gtag/js?id=<%= ga_tid %>"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        window._ga_tid = '<%= ga_tid %>'
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '<%= ga_tid %>');
      </script>
    <% end %>
  </head>

  <body>
    <header class="container mb-4">
      <%= render 'layouts/navbar' %>
      <%= render 'layouts/alerts' %>
    </header>

    <main role="main" class="container<%= ' ja' if I18n.locale == :ja %>">
      <%= yield %>
    </main>

    <footer class="text-center">
      <span class='d-block d-sm-inline'><%= t :'footer.created'%></span>
      <span class="d-none d-sm-inline"> | </span>
      <div class="d-block d-sm-inline">
        <span>Powered by <%= link_to 'XIVAPI', 'https://xivapi.com/', target: '_blank' %> | </span>
        <%= link_to 'https://discord.gg/Bf62wNU', class: 'unstyled', target: '_blank' do %>
          <%= image_tag('discord.png', class: 'discord') %>
        <% end %>
        <%= link_to 'https://www.patreon.com/raelys', class: 'unstyled', target: '_blank' do %>
          <%= image_tag('patreon.png', class: 'patreon') %>
        <% end %>
      </div>
    </footer>
  </body>
</html>
