<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#DAA556">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">

    <title><%= yield_title('FFXIV Collect').html_safe %></title>
    <meta name="description"
      content="<%= yield_description('Another website for tracking your Final Fantasy XIV collections.') %>">
    <meta property="og:title" content="<%= yield_title('FFXIV Collect') %>">
    <meta property="og:description"
      content="<%= yield_description('Another website for tracking your Final Fantasy XIV collections.') %>">
    <meta property="og:image" content="<%= yield_image(image_path('logo.png', skip_pipeline: true)) %>">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script type="text/javascript">
      I18n.defaultLocale = "<%= I18n.default_locale %>";
      I18n.locale = "<%= I18n.locale %>";
      I18n.fallbacks = true;
    </script>
  </head>

  <body>
    <%= render 'layouts/topbar' %>
    <div class="container-fluid mb-4">
      <div class="row">
        <nav class="d-md-block collapse sidebar" id="sidebarMenu">
          <%= render 'layouts/sidebar' %>
        </nav>
        <main role="main" class="col-12 mt-3 main<%= ' ja' if I18n.locale == :ja %>">
          <%= render 'layouts/alerts' %>
          <%= yield %>
        </main>
      </div>
    </div>
    <footer class="text-center">
      <span class='d-block d-sm-inline'><%= t('created_by') %></span>
      <span class="d-none d-sm-inline"> | </span>
      <div class="d-block d-sm-inline">
        <span>
          <%= t('powered_by') %> <%= link_to 'Saint Coinach', 'https://github.com/ufx/SaintCoinach', target: '_blank' %> |
        </span>
        <%= link_to 'https://discord.gg/bA9fYQjEYy', class: 'unstyled', target: '_blank' do %>
          <%= image_tag('discord.png', class: 'discord') %>
        <% end %>
        <%= link_to 'https://github.com/mattantonelli/ffxiv-collect', class: 'unstyled', target: '_blank' do %>
          <%= image_tag('github.png', class: 'github') %>
        <% end %>
        <%= link_to 'https://www.patreon.com/raelys', class: 'unstyled', target: '_blank' do %>
          <%= image_tag('patreon.png', class: 'patreon') %>
        <% end %>
      </div>
    </footer>
  </body>
</html>
